<template>

  <div class="md-layout">
   
    <div class="md-layout-item md-medium-size-50 md-medium-size-100 md-size-100">

      <div class="md-layout-item md-size-30">
     <md-field md-inline>
                  <label for="date">Fitler</label>
                  <md-select v-model="date" name="date" @md-selected="selectDate">
                     <md-option value="-24hours">Last 24 Hours</md-option>
                     <md-option value="-17days">Last 7 Day</md-option>
                     <md-option value="-14days">Last 14 Day</md-option>
                     <md-option value="-1months">Last 1 Month</md-option>
                     <md-option value="-6months">Last 6 Month</md-option>
                     <md-option value="-1years">Last 1 Year</md-option>
                  </md-select>
               </md-field>
    </div>
    </div>






      <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="green">
        <template slot="header">
          <div class="card-icon">
            <md-icon>emoji_transportation</md-icon>
          </div>
          <p class="category">Order Pending  </p>
          <h3 class="title">
            {{data.order_pending}}
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>date_range</md-icon>
            Total of Cars
          </div>
        </template>
      </stats-card>
    </div>

     <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="blue">
        <template slot="header">
          <div class="card-icon">
            <md-icon>car_rental</md-icon>
          </div>
          <p class="category">Order On Progress </p>
          <h3 class="title">
          {{data.order_progress}}
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            Total Orders
          </div>
        </template>
      </stats-card>
    </div>

    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="warning">
        <template slot="header">
          <div class="card-icon">
            <md-icon>paid</md-icon>
          </div>
          <p class="category">Order Cancel</p>
          <h3 class="title">
          {{data.order_cancel}}
          </h3>
        </template>

        <template slot="footer">
            <div class="stats">
            <md-icon>date_range</md-icon>
            Total Income
          </div>
        </template>
      </stats-card>
    </div>

     <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="green">
        <template slot="header">
          <div class="card-icon">
            <md-icon>emoji_transportation</md-icon>
          </div>
          <p class="category">Order Completed  </p>
          <h3 class="title">
            {{data.order_completed}}
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>date_range</md-icon>
            Total of Cars
          </div>
        </template>
      </stats-card>
    </div>





     <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-30">
      <stats-card header-color="blue">
        <template slot="header">
          <div class="card-icon">
            <md-icon>car_rental</md-icon>
          </div>
          <p class="category">Total Order </p>
          <h3 class="title">
          {{data.total_order}}
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            Total Orders
          </div>
        </template>
      </stats-card>
    </div>
      <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-30">
      <stats-card header-color="green">
        <template slot="header">
          <div class="card-icon">
            <md-icon>emoji_transportation</md-icon>
          </div>
          <p class="category">Total Cars  </p>
          <h3 class="title">
            {{data.total_car}}
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>date_range</md-icon>
            Total of Cars
          </div>
        </template>
      </stats-card>
    </div>


    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-40">
      <stats-card header-color="warning">
        <template slot="header">
          <div class="card-icon">
            <md-icon>paid</md-icon>
          </div>
          <p class="category">Total Income</p>
          <h3 class="title">
                 {{'Rp '+numberWithCommas(data.total_income)}}
          </h3>
        </template>

        <template slot="footer">
            <div class="stats">
            <md-icon>date_range</md-icon>
            Total Income
          </div>
        </template>
      </stats-card>
    </div>





  

    <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
      <md-card>
        <md-card-header class="md-card-header-text md-card-header-primary">
          <div class="card-text">
            <h4 class="title">Latest Booking</h4>
            <p class="category">
              Latest Booking of Self Drive
            </p>
          </div>
        </md-card-header>
        <md-card-content>
         
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="ID">{{ item.booking_id }}</md-table-cell>
              <md-table-cell md-label="Type">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Pickup Date">{{ item.pickup_date }} {{ item.pickup_time }}</md-table-cell>
              <md-table-cell md-label="Pickup Address">{{ JSON.parse(item.additional_data).pickup_location.address }}</md-table-cell>
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
              <md-table-cell md-label="Action">
                <a  @click=" $router.push('/admin/bookingDetail/' + item.booking_id);" style="cursor:pointer">Detail</a>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>






      <md-dialog :md-active.sync="showDialog">
         <md-dialog-title>Driver Information</md-dialog-title>
         <md-dialog-actions style="overflow: auto;width:680px;height:250px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                          <md-list-item>
                            <md-avatar>
                            <img :src=this.detailDriver.profile_picture alt="People">
                            </md-avatar>

                            <div class="md-list-item-text">
                              <span><strong>{{ this.detailDriver.full_name }}</strong></span>
                              <span>{{ this.detailDriver.phone }}</span>
                              <span>{{ this.detailDriver.email }}</span>
                              <span>{{ this.detailDriver.location }}</span>
                            </div>
                          </md-list-item>

                          <md-divider class="md-inset"></md-divider>
          
                      <md-button class="md-raised md-danger" type="button"  @click="showDialog=false" style="margin-top:20px" >
                        Close
                     </md-button>
                    <md-button    @click="$router.push('/admin/user/detail/' + detailDriver.user_id)"    style="margin-top:20px" class="md-raised md-success" >
                    Driver Detail
                    </md-button>
                  </md-card-content>
               </div>
            </div>
         </md-dialog-actions>
      </md-dialog>


  </div>
</template>

<script>

import {
  StatsCard,
  ChartCard
} from "@/components";
import { getDashboard } from "@/api/dashboard";
import { getBookingSelfDrive } from "@/api/booking";
import { getUser,getDriver } from "@/api/user";
import { getLastLocation } from "@/api/driver";
import { API_KEY } from "../../../map_api_key";
import { Loader, LoaderOptions } from "google-maps";
import { getCar,addCar } from "@/api/cars";
 import { getUserLoggediIn} from "@/api/user";

const loader = new Loader(API_KEY);

export default {
  components: {
    StatsCard,
  },

  data() {
    return {
      data : [],
      detailDriver : [],
      total_car :'',
      user_id :'',
      full_name :'',
      showDialog :false,
      date: null,
      tableData : [],
      driverList : [],
      listLocation : []
    };
  },
   created() {
    this.interval = setInterval(() => this.getDataDriverUpdate(), 10000);
},
  mounted() {
            loader.load();

       this.getData('-1years');
        getUserLoggediIn().then(value => {
          this.user_id = value.result.user_id;
          this.getDataBooking(value.result.vendor.vendor_id);
      });

     },
   
  methods: {
       loadMap(google) {
    
               const centerLatlng = new google.maps.LatLng('-8.508552','115.2553927');
               const mapOptions = {
               zoom: 12,
               center: centerLatlng,
               scrollwheel: false, // we disable de scroll over the map, it is a really annoing when you scroll through page
               disableDefaultUI: true, // a way to quickly hide all controls
               zoomControl: true,
               styles: [
                  {
                     featureType: "water",
                     stylers: [
                     { saturation: 43 },
                     { lightness: -11 },
                     { hue: "#0088ff" }
                     ]
                  },
                  {
                     featureType: "road",
                     elementType: "geometry.fill",
                     stylers: [
                     { hue: "#ff0000" },
                     { saturation: -100 },
                     { lightness: 99 }
                     ]
                  },
                  {
                     featureType: "road",
                     elementType: "geometry.stroke",
                     stylers: [{ color: "#808080" }, { lightness: 54 }]
                  },
                  {
                     featureType: "landscape.man_made",
                     elementType: "geometry.fill",
                     stylers: [{ color: "#ece2d9" }]
                  },
                  {
                     featureType: "poi.park",
                     elementType: "geometry.fill",
                     stylers: [{ color: "#ccdca1" }]
                  },
                  {
                     featureType: "road",
                     elementType: "labels.text.fill",
                     stylers: [{ color: "#767676" }]
                  },
                  {
                     featureType: "road",
                     elementType: "labels.text.stroke",
                     stylers: [{ color: "#ffffff" }]
                  },
                  { featureType: "poi", stylers: [{ visibility: "off" }] },
                  {
                     featureType: "landscape.natural",
                     elementType: "geometry.fill",
                     stylers: [{ visibility: "on" }, { color: "#b8cb93" }]
                  },
                  { featureType: "poi.park", stylers: [{ visibility: "on" }] },
                  {
                     featureType: "poi.sports_complex",
                     stylers: [{ visibility: "on" }]
                  },
                  { featureType: "poi.medical", stylers: [{ visibility: "on" }] },
                  {
                     featureType: "poi.business",
                     stylers: [{ visibility: "simplified" }]
                  }
               ]
               };
         
               const map = new google.maps.Map(
               document.getElementById("map"),
               mapOptions
               );
              const image = {
                url: require("../../../assets/img/car6.png"),
                // This marker is 20 pixels wide by 32 pixels high.
                size: new window.google.maps.Size(68, 52),
                // The origin for this image is (0, 0).
                origin: new window.google.maps.Point(0, 0),
                // The anchor for this image is the base of the flagpole at (0, 32).
                anchor: new window.google.maps.Point(0, 1),
                scaledSize: new google.maps.Size(57, 98),
              };

          var  marker, i;

          for (i = 0; i < this.driverList.length; i++) {
                 marker = new google.maps.Marker({
                position: new window.google.maps.LatLng(
                this.driverList[i].last_location.latitude,
                this.driverList[i].last_location.longitude
               ),
                title: this.driverList[i].user.full_name,
                icon : image,
                profile_picture : this.driverList[i].user.profile_picture,
                full_name : this.driverList[i].user.full_name,
                phone : this.driverList[i].user.phone,
                email : this.driverList[i].user.email,
                user_id : this.driverList[i].user.user_id,
                location : this.driverList[i].last_location.street_name
                });
                marker.setMap(map);


            var self = this;
            window.google.maps.event.addListener(
              marker,
              "click",
              function (event) {
                self.detailDriver.full_name = this.full_name;
                self.detailDriver.profile_picture = this.profile_picture;
                self.detailDriver.phone = this.phone;
                self.detailDriver.location = this.location;
                self.detailDriver.email = this.email;
                self.detailDriver.user_id = this.user_id;
                self.showDialog = true;
              }
            );
          }

      },
 
    onSelect: function(items) {
      this.selected = items;
    },
      getData(date) {
         getDashboard({'date': date}).then(value => {
           this.data = value.result;
           });
       },
      getDataBooking(vendor_id) {
        getBookingSelfDrive({'vendor_id':vendor_id,'limit':5,'offset':0}).then(value => {
          this.tableData = value.result;
          this.tableData.additional = JSON.parse(value.result.additional_data);
        });
    },

selectDate(val){
    this.getData(val);
},
 getDataDriverUpdate() {
      getLastLocation().then(value => {
          this.driverList = value.result;
        });
    },
    numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
      
  }
};
</script>
<style>
   #map {
   height: calc(0vh - 70px);
   margin-top: 70px;
   position :initial  !important
   }
</style>