<template>

   <div class="md-layout">
      <div class="md-layout-item md-size-100">
         <md-card class="md-card-example">
            <md-card-area md-inset>
               <md-card-media md-ratio="16:9" style="height:600px">
                  <div id="map" style="overflow:initial"></div>
               </md-card-media>
               <md-card-header>
                  <h3 class="md-subheading">Pickup Location</h3>
                     <span>{{pickup_location.address}}</span>
                   <h3 class="md-subheading">Pickup Date</h3>
                     <span>{{detail.pickup_date+' '+detail.pickup_time}}</span>
               </md-card-header>
            </md-card-area>
            <md-card-content>
            </md-card-content>
            <div class="md-layout">
               <div class="md-layout-item md-size-50">
                  <h3 class="md-subheading">Booking Detail</h3>
                  <div class="md-layout-item md-size-80" style="margin-left:-30px">
                     <md-list>
                        <md-list-item>ID <code>{{detail.booking_id}}</code></md-list-item>
                        <md-list-item>Name <code>{{user.first_name}} {{user.last_name}}</code></md-list-item>
                        <!-- <md-list-item>Email <code>{{user.email}}</code></md-list-item> -->
                        <md-list-item>Phone <code>{{user.phone}}</code></md-list-item>
                        <md-list-item>Type <code>{{detail.type}}</code></md-list-item>
                        <md-list-item>Person <code v-if="detail.adult">{{detail.adult+ 'Adult'}}</code> 
                           <code v-if="detail.child">{{detail.child+ 'Child'}}</code> <code v-if="detail.infant">{{detail.infant+ 'Infant'}}</code> 
                        </md-list-item>

                        <md-list-item v-if="JSON.parse(detail.additional_data).note">Note <code>{{JSON.parse(detail.additional_data).note}}</code></md-list-item>
                        <!-- <md-list-item>Car Type <code>{{detail.car_type}}</code></md-list-item> -->
                        <md-list-item>Status <code>{{detail.status}}</code></md-list-item>
                        <md-list-item v-if="detail.status=='cancel' && JSON.parse(detail.additional_data).reason">Reason <code>{{JSON.parse(detail.additional_data).reason}}</code></md-list-item>
                        <md-list-item v-if="detail.report!=null">Report <code>{{detail.report.comment}}</code></md-list-item>
                        <md-list-item v-if="detail.report!=null">Report Status<code>{{detail.report.status}}</code></md-list-item>
                     </md-list>
                  </div>
               </div>


               <div class="md-layout-item md-size-50">
                  <h3 class="md-subheading">Payment Information</h3>
                  <div class="md-layout-item md-size-80" style="margin-left:-30px">
                     <md-list>
                        <md-list-item>Car Price <code>{{'Rp '+numberWithCommas(detail.car_price)}}</code></md-list-item>
                        <md-list-item>Rate Per Km <code>{{'Rp '+numberWithCommas(detail.rate_per_km)}}</code></md-list-item>
                        <md-list-item>Driver Fee <code>{{'Rp '+numberWithCommas(detail.driver_fee)}}</code></md-list-item>
                        <md-list-item>Platform Fee <code>{{'Rp '+numberWithCommas(detail.platform_fee)}}</code></md-list-item>
                        <md-list-item>Subtotal <code>{{'Rp '+numberWithCommas(detail.subtotal)}}</code></md-list-item>
                        <md-list-item>Payment Provider <code>{{detail.payment_provider}}</code></md-list-item>
                        <md-list-item>Payment Status <code>{{detail.payment_status}}</code></md-list-item>
                        <md-list-item v-if="detail.payment_status=='refunded'">Refund By <code>{{JSON.parse(detail.additional_data).refunded_by.full_name}}</code></md-list-item>
                     </md-list>
                           <md-button class="md-warning" v-if="detail.payment_status=='unpaid' && detail.status!='cancel' "><a  style="color:white;margin-left:20px"   @click="showDialogPaid=true"  >Mark as Paid</a></md-button>
                           <md-button v-if="detail.payment_status=='paid' && detail.status=='cancel'" class="md-info md-raised" style="margin-left:20px"   @click="showDialogRefund=true" >Refund</md-button>
                  </div>
               </div>
            </div>
            <div class="md-layout md-size-50">
               <div class="md-layout-item md-size-100">
                  <h1 class="md-subheading">Destination</h1>
                  <span v-if="detail.type=='CITY TRANSFER'" style="margin-bottom:20px"> <a :href="'https://www.google.com/maps/place/' + destination.address" target="_blank"> {{destination.address}}</a></span>
               </div>
               <div  v-for="(item, index) in detail.destination" class="md-layout-item md-size-33"  v-bind:key="index">
                  <md-card>
                     <md-card-media>
                        <img :src=item.image alt="People" style="height:230px">
                     </md-card-media>
                     <md-card-header>
                        <div class="md-title">{{item.attraction_name}}</div>
                        <div class="md-subhead">
                           {{item.address}}
                        </div>
                     </md-card-header>
                  </md-card>
               </div>
            </div>

            <div v-if="detail.status!='cancel'">
              <div class="md-layout-item md-size-50">
                  <div class="md-layout-item md-size-100">
                     <md-card v-if="detail.driver_id">
                        <md-card-header>
                           <md-card-header-text>
                              <br>
                              <div class="md-title">Guide</div>
                              <h3 class="md-subheading">{{detail.driver.user.first_name+' '+detail.driver.user.last_name}}</h3>
                              <div class="md-subhead">{{detail.driver.vehicle.name+' ('+detail.driver.plate_number+')'}}</div>
                           </md-card-header-text>
                           <md-card-media>
                              <br>
                              <img :src=detail.driver.user.profile_picture alt="People">
                           </md-card-media>
                        </md-card-header>

                        <md-card-actions>
                           <md-button class="md-warning" v-if="detail.status=='completed' && detail.fee_mutation.status=='pending' && detail.report!=null"><a  style="color:white"   @click="showDialogFee=true"  >Action Report</a></md-button>

                           <md-button class="md-info"><a style="color:white"  @click=" $router.push('/admin/user/detail/' + detail.driver.user_id);">Guide Detail</a></md-button>
                        </md-card-actions>
                     </md-card>
                     <md-card v-else>
                        <md-card-header>
                           <md-card-header-text>
                              <br>
                              <div class="md-title">Guide</div>
                              <h3 class="md-subheading">No Guide</h3>
                              <div class="md-subhead">Please choose a guide</div>
                           </md-card-header-text>
                           <md-card-media>
                              <br>
                              <img src="https://img.favpng.com/17/1/20/user-interface-design-computer-icons-default-png-favpng-A0tt8aVzdqP30RjwFGhjNABpm.jpg" alt="People">
                           </md-card-media>
                        </md-card-header>
                        <md-card-actions>
                           <!-- <md-button class="md-info md-raised"  @click="showDialog = true"    @clicked-show-detail="clickedShowDetailModal">Choose Driver</md-button> -->
                           <md-button class="md-info md-raised"  v-if="detail.payment_status=='paid' && detail.status=='pending'" @click="showDialog = true"   >Choose Guide</md-button>
                           <md-button class="md-danger md-raised"  @click="showDialogDecline=true"   >Decline Booking</md-button>
                        </md-card-actions>
                     </md-card>
                  </div>
               </div>
               </div>
         </md-card>
      </div>
      <div>
         <md-dialog :md-active.sync="showDialog">
            <md-dialog-title>Guide</md-dialog-title>
            <md-dialog-actions style="overflow: auto;padding-top:-10px; display:block">
               <Driver :booking_id="detail.booking_id"   :vehicle_type_id="1"  v-on:childToParent="onChildClick"></Driver>
            </md-dialog-actions>
         </md-dialog>
      </div>

      <md-dialog :md-active.sync="showDialogDecline">
         <md-dialog-title>Decline Booking</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:200px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                    Are you sure want to decline this booking ?
                     <md-field>
                        <label>Note</label>
                        <md-input v-model="note"></md-input>
                     </md-field>
                      <md-button class="md-raised md-danger" type="button"  @click="showDialogDecline=false" style="margin-top:20px" >
                        Cancel
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="declineBooking()" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>

      <md-dialog :md-active.sync="showDialogRefund">
         <md-dialog-title>Refund Booking</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:150px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                    Are you sure you have refunded this booking?<br>
                      <md-button class="md-raised md-danger" type="button"  @click="showDialogRefund=false" style="margin-top:20px" >
                        Cancel
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="refundBookingSubmit()" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>




      <md-dialog :md-active.sync="showDialogPaid">
         <md-dialog-title>Mark as Paid</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:150px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                    Are you sure you want to mark as paid for this booking ?<br>
                      <md-button class="md-raised md-danger" type="button"  @click="showDialogPaid=false" style="margin-top:20px" >
                        Cancel
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="paidBookingSubmit()" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>



      <md-dialog :md-active.sync="showDialogFee">
         <md-dialog-title>Action Report</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:300px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                    <!-- Are you sure you want to complete this order and send a fee of <strong>{{'Rp '+numberWithCommas(detail.driver_fee)}}</strong> to this driver ?<br> -->

                     <md-field>
                        <label>Action</label>
                          <md-select v-model="action" name="action" id="action">
                           <md-option value="customer"> 
                              Customer Win
                           </md-option>
                           <md-option value="driver"> 
                              Driver Win
                           </md-option>
                        </md-select>
                     </md-field>


                     <md-field>
                        <label>Note</label>
                        <md-input v-model="note"></md-input>
                     </md-field>
                     
                      <md-button class="md-raised md-danger" type="button"  @click="showDialogFee=false" style="margin-top:20px" >
                        Cancel
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="confirmFee()" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>
   </div>

   

</template>
<script>
   import { getDetailBooking, declinedBooking,refundBooking,confirmFeeBooking,paidBooking } from "@/api/booking";
   import { API_KEY } from "../../../map_api_key";
   import Driver from "./driver";
   import { Loader, LoaderOptions } from "google-maps";
   
   const loader = new Loader(API_KEY);
   /* eslint-disable vue/no-unused-components */
   export default {
     data() {
       return {
        name: 'DialogCustom',
         promotions: [],
         detail: '',
         pickup_location: '',
         note: '',
         user :'',
         driver_name: 'No Driver',
         additional_data : '',
         tableData: [],
         nav: null,
         active: false,
         value: null,
         action: null,
        showDialog: false,
        showDialogDecline: false,
        loadingBtn : false,
        showDialogFee: false,
        showDialogRefund: false,
        showDialogPaid: false,
       };
     },
     mounted() {
            loader.load();
       
       this.getData();
      
     },
     created() {
    this.interval = setInterval(() => this.getData(), 5000);
      },
     components: {
       Driver
     },
       methods: {
       getData() {

         getDetailBooking({'booking_id':this.$route.params.id }).then(value => {
            console.log('ssss');
            console.log(value.result.fee_mutation);
             this.detail = value.result;
             this.user = value.result.user;
             this.pickup_location = JSON.parse(value.result.additional_data).pickup_location;
             if(value.result.type=='CITY TRANSFER'){
               this.destination = JSON.parse(value.result.additional_data).destination;
             }

           //   this.driver_name=detail.driver.user.first_name+' '+detail.driver.user.last_name ;
            this.additional_data = JSON.parse(value.result.additional_data);

            var lat = this.pickup_location.latitude;
            var long = this.pickup_location.longitude;
            this.loadMap(google,lat,long);
             
           });
           
       },
     
     
        onClickChild (value) {
         console.log(value) // someValue
       },
        showDetailModal: function (product) {
       	console.log('click product in child, how can i pass this product to productSelected data in parent?');
         console.log(product);
         this.$emit('clicked-show-detail', product);
       },
       numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
        declineBooking () {
            this.loadingBtn= true;
               var dataForm= {
                  booking_id: this.detail.booking_id,
                  reason: this.note
               }
            declinedBooking(dataForm).then(value => {
               this.showDialogDecline =false;
            this.loadingBtn= false;
               this.$store.dispatch("alerts/success",'This booking has been declined');
               this.getData();
            });
         },
          refundBookingSubmit () {
            this.loadingBtn= true;
               var dataForm= {
                  booking_id: this.detail.booking_id,
               }
            refundBooking(dataForm).then(value => {
               this.showDialogRefund =false;
               this.loadingBtn= false;
               this.$store.dispatch("alerts/success",'This booking has been refunded');
               this.getData();
            });
         },
          paidBookingSubmit () {
            this.loadingBtn= true;
               var dataForm= {
                  booking_id: this.detail.booking_id,
               }
            paidBooking(dataForm).then(value => {
               this.showDialogPaid =false;
               this.loadingBtn= false;
               this.$store.dispatch("alerts/success",'This booking has been paid');
               this.getData();
            });
         },
            confirmFee () {
            this.loadingBtn= true;
               var dataForm= {
                  booking_id: this.detail.booking_id,
                  action: this.action,
                  note: this.note,
                  status :'completed'
               }
            confirmFeeBooking(dataForm).then(value => {
               this.showDialogFee =false;
               this.loadingBtn= false;
               this.$store.dispatch("alerts/success",'Report has been updated');
               this.getData();
            });
         },
         onCancel () {
           this.value = 'Disagreed'
         },
          onChildClick (value) {
            console.log('value');
            console.log(value.result.user_id);
            this.showDialog=false;
            this.getData();
         },
          loadMap(google,lat,long) {
               // alert('lat');
               // Regular Map
               // var lat = '-6.9181261';
               // var long = '108.89114080000002';

               // console.log(google);

               const myLatlng = new google.maps.LatLng(lat, long);
               const mapOptions = {
               zoom: 16,
               center: myLatlng,
               scrollwheel: false, // we disable de scroll over the map, it is a really annoing when you scroll through page
               disableDefaultUI: true, // a way to quickly hide all controls
               zoomControl: true,
               styles: [
                  {
                     featureType: "water",
                     stylers: [
                     { saturation: 43 },
                     { lightness: -11 },
                     { hue: "#0088ff" }
                     ]
                  },
                  {
                     featureType: "road",
                     elementType: "geometry.fill",
                     stylers: [
                     { hue: "#ff0000" },
                     { saturation: -100 },
                     { lightness: 99 }
                     ]
                  },
                  {
                     featureType: "road",
                     elementType: "geometry.stroke",
                     stylers: [{ color: "#808080" }, { lightness: 54 }]
                  },
                  {
                     featureType: "landscape.man_made",
                     elementType: "geometry.fill",
                     stylers: [{ color: "#ece2d9" }]
                  },
                  {
                     featureType: "poi.park",
                     elementType: "geometry.fill",
                     stylers: [{ color: "#ccdca1" }]
                  },
                  {
                     featureType: "road",
                     elementType: "labels.text.fill",
                     stylers: [{ color: "#767676" }]
                  },
                  {
                     featureType: "road",
                     elementType: "labels.text.stroke",
                     stylers: [{ color: "#ffffff" }]
                  },
                  { featureType: "poi", stylers: [{ visibility: "off" }] },
                  {
                     featureType: "landscape.natural",
                     elementType: "geometry.fill",
                     stylers: [{ visibility: "on" }, { color: "#b8cb93" }]
                  },
                  { featureType: "poi.park", stylers: [{ visibility: "on" }] },
                  {
                     featureType: "poi.sports_complex",
                     stylers: [{ visibility: "on" }]
                  },
                  { featureType: "poi.medical", stylers: [{ visibility: "on" }] },
                  {
                     featureType: "poi.business",
                     stylers: [{ visibility: "simplified" }]
                  }
               ]
               };
         
               const map = new google.maps.Map(
               document.getElementById("map"),
               mapOptions
               );
         
               const marker = new google.maps.Marker({
               position: myLatlng,
               title: "Regular Map!"
               });
         
               marker.setMap(map);
            },
     }
   };
</script>
<style>
   #map {
   height: calc(0vh - 70px);
   margin-top: 70px;
   position :initial  !important
   }
</style>
<style lang="scss" scoped>
   .md-dialog .md-dialog-container {
   max-width: 768px;
   }
</style>