<template>
  <div style="width:100%">
    <md-list class="md-triple-line">
     
      <div v-for="(item, index) in tableData"   v-bind:key="index">
      <md-list-item>
        <md-avatar>
        <img :src=item.profile_picture alt="People">
        </md-avatar>

        <div class="md-list-item-text">
          <span>{{item.first_name}} {{item.last_name}}</span>
          <span>{{item.phone}}</span>
          <span>{{item.driver.vehicle.name+' ('+item.driver.plate_number+')'}}</span>
          <span v-if="item.driver.last_location">{{ item.driver.last_location.village+', '+item.driver.last_location.subdistrict+', '+item.driver.last_location.district }}</span>
        </div>
        <!-- <md-button   :disabled="loadingBtn" @click.native.prevent="chooseDriver(item.driver.driver_id)"   class="md-icon-button md-list-action md-info" style="margin-top:15px">
          Select
        </md-button> -->
        <md-button   :disabled="loadingBtn" @click.native.prevent="showActivity(item.driver.driver_id)"   class="md-icon-button md-list-action md-info" style="margin-top:15px">
          Select
        </md-button>
      </md-list-item>

      <md-divider class="md-inset"></md-divider>
      </div>


    </md-list>

      <md-dialog :md-active.sync="showDialogActivity2">
         <md-dialog-title>Ongoing Order</md-dialog-title>
         <md-dialog-actions style="overflow: auto;width:680px;height:400px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                           <div v-for="(row, indexx) in driverActivity"   v-bind:key="indexx">
                          <md-list-item>
                            <!-- <md-avatar>
                            <img :src=row.created_at alt="People">
                            </md-avatar> -->

                            <div class="md-list-item-text">
                              <span>ID #{{row.booking_id}}</span>
                              <span>{{row.pickup_date +' '+row.pickup_time}}</span>
                              <span>{{row.arr_data.additional_data.pickup_location.address}}</span>
                              <span>{{row.status}}</span>
                            </div>
                          </md-list-item>

                          <md-divider class="md-inset"></md-divider>
                          </div>
          
                      <md-button class="md-raised md-danger" type="button"  @click="showDialogActivity2=false" style="margin-top:20px" >
                        Cancel
                     </md-button>
                   <md-button   :disabled="loadingBtn" @click.native.prevent="chooseDriver(driverActivity[0].driver_id)"    style="margin-top:20px" class="md-raised md-success" >
                    Select Guide
                  </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>
  </div>





</template>
<script>

import { getUser,getDriver } from "@/api/user";
import { selectDriver,getBooking } from "@/api/booking";

export default {
  props: ['booking_id','vehicle_type_id'],
  data() {
    return {
      selected: [],
      tableData: [],
      driverActivity: [],
      driver_id: '',
      loading: false,
      loadingBtn: false,
      showDialogActivity2: false,
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
      console.log(this.vehicle_type_id);
      getDriver({'account_status':'active','status':'Online','available_status':'yes'}).then(value => {
          this.tableData = value.result;
        });
    },

    showActivity(driver_id) {
      var status = ['pending','awaiting departure time','waiting driver','waiting pickup','picked up'];
      getBooking({'driver_id':driver_id,'status':status}).then(value => {
        if(value.result.length >= 1){
          this.driverActivity = value.result;
          this.showDialogActivity2=true;
        }else{
          this.chooseDriver(driver_id);
        }
        });
    },

    chooseDriver(driver_id) {
        this.loadingBtn= true;
         var dataForm= {
            booking_id: this.booking_id,
            driver_id: driver_id
          }
        selectDriver(dataForm).then(value => {
          // this.$router.go(0);
          console.log(value);

          if(value.code==200){
            this.$store.dispatch("alerts/success",'Success select driver');
            var dataDriver= {
              driver_id: this.booking_id,
            }
            this.$emit('childToParent', value);
          }else{
            this.$store.dispatch("alerts/error",value.message);
            this.loadingBtn= false;
          }
          
          // this.$emit('clicked', 'someValue')
        });
    },
  }
};
</script>
<style>
#map {
  height: calc(0vh - 70px);
  margin-top: 70px;
  position :initial  !important
}
</style>
<style lang="scss" scoped>
  .md-dialog .md-dialog-container {
    max-width: 768px;
  }
</style>