<template>
<v-app>

  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
    
        </md-card-header>
        <md-card-content>
  

         <v-card-title>
      List Booking
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
        <v-data-table
    :headers="headers"
    :items="tableData"
    :search="search"
    :items-per-page="10"
    class="elevation-1"
  >
    <template v-slot:item.user_id="{ item }">
                <md-button class="md-success" style="margin-right:6px"  @click=" $router.push('/admin/bookingDetail/' + item.booking_id);" >Detail
                </md-button>
    </template>
    
    </v-data-table>
              <!-- <md-table-cell md-label="Pickup Address">{{ JSON.parse(item.additional_data).pickup_location.address }}</md-table-cell>
             
                <a  @click=" $router.push('/admin/bookingDetail/' + item.booking_id);" style="cursor:pointer">Detail</a> -->
        </md-card-content>
      </md-card>
    </div>
    
  </div>
</v-app>

</template>
<script>
import { getBooking } from "@/api/booking";
export default {
  data() {
     return {
      promotions: [],
      selected: [],
      tableData: [],
       headers: [
          { text: 'ID', value: 'booking_id' },
          { text: 'Type', value: 'type' },
          { text: 'Pickup Date', value: 'pickup_date' },
          { text: 'Pickup Time', value: 'pickup_time' },
          { text: 'Payment Status', value: 'payment_status' },
          { text: 'Status', value: 'status' },
          { text: 'Action', value: 'user_id' },
        ],


      columns: [
         {label: 'ID', field: 'booking_id'},
            {label: 'Type', field: 'type', headerClass: 'class-in-header second-class'},
            { label: 'Pickup Date', representedAs: row => `${ row.pickup_date  }, ${  row.pickup_time  }` },
            { label: 'Pickup Address', representedAs: row => `${ JSON.parse(row.additional_data).pickup_location.address  }` },
            {label: 'Status', field: 'status'},
            { label: 'Action',  interpolate:   true,representedAs: row => `<a href="/admin/bookingDetail/${ row.booking_id }">View Detail</a>` }
        ],
        page: 1,
  
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
    var status = this.$route.params.status;
    if(status=='on-progress'){
      var  status = ["waiting pickup", "waiting driver","awaiting departure time","picked up"];
    }else{
      var  status = [status];
    }
    getBooking({'status': status}).then(value => {
          this.tableData = value.result;
          this.tableData.additional = JSON.parse(value.result.additional_data);
        });
    },
  }
};
</script>
<style scoped>
.table {
  width:100%;
}
.pagination {
  position : 'relative';
  display: 'inline-block';
  vertical-align : 'middle';
}
.pagination .button_paging{position:relative;color:#fff;background-color:#337ab7;border-color:#2e6da4;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}
.paging.active{background-color:#286090;border-color:#204d74}.pagination>li:first-child:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0}.pagination>li:last-child:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}.pagination>li:not(:first-child):not(:last-child){border-radius:0}.pagination>li:first-child{margin-left:0}.pagination>li>span:focus,.pagination>li>span:hover{color:inherit;background:none}.pagination>li>span{border:none;background:none;color:inherit;padding:0;margin:0}#demo-app.tutorial-pager-types .pagers-table{display:grid;grid-template-columns:1fr 1fr;margin-top:15px}#demo-app.tutorial-pager-types .pagers-table ul{padding:0;margin:0 0 5px}
.table-transparent {
  background-color: transparent !important;
}
.md-table .md-table-cell .md-button {
    margin: auto;
}
.md-button.md-fab .md-icon, .md-button.md-icon-button .md-icon {position:relative}
.mt-0 {
  margin-top: 0 !important;
}
</style>
