<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">Booking Report</h4>
        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="ID">{{ item.booking_id }}</md-table-cell>
              <md-table-cell md-label="Booking ID">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Full Name">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Driver">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Comment">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Action">
                <a  @click=" $router.push('/admin/bookingDetail/' + item.booking_id);" style="cursor:pointer">Detail</a>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>
<script>
import { getReport } from "@/api/booking";
export default {
  data() {
     return {
      promotions: [],
      selected: [],
      tableData: [],
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
    var status = this.$route.params.status;
    var  status = [status];
    getReport().then(value => {
          this.tableData = value.result;
        });
    },
  }
};
</script>
<style scoped>
.table {
  width:100%;
}
.pagination {
  position : 'relative';
  display: 'inline-block';
  vertical-align : 'middle';
}
.pagination .button_paging{position:relative;color:#fff;background-color:#337ab7;border-color:#2e6da4;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}
.paging.active{background-color:#286090;border-color:#204d74}.pagination>li:first-child:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0}.pagination>li:last-child:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}.pagination>li:not(:first-child):not(:last-child){border-radius:0}.pagination>li:first-child{margin-left:0}.pagination>li>span:focus,.pagination>li>span:hover{color:inherit;background:none}.pagination>li>span{border:none;background:none;color:inherit;padding:0;margin:0}#demo-app.tutorial-pager-types .pagers-table{display:grid;grid-template-columns:1fr 1fr;margin-top:15px}#demo-app.tutorial-pager-types .pagers-table ul{padding:0;margin:0 0 5px}
.table-transparent {
  background-color: transparent !important;
}
.md-table .md-table-cell .md-button {
    margin: auto;
}
.md-button.md-fab .md-icon, .md-button.md-icon-button .md-icon {position:relative}
.mt-0 {
  margin-top: 0 !important;
}
</style>
