<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
     <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">Form Promotion</h4>
    
        </md-card-header>
        <md-card-content>
    <md-field>
      <label>Promotion Name</label>
      <md-input v-model="promotion_name"></md-input>
    </md-field>


    <md-field>
      <label>Voucher Code</label>
      <md-input v-model="voucher_code"></md-input>
      <span class="md-helper-text">Voucher Code</span>
    </md-field>

    <md-field>
      <label>Discount (%)</label>
      <md-input v-model="discount" placeholder="Discount"></md-input>
    </md-field>

    <md-field md-inline>
          <label for="movie">Status</label>
          <md-select v-model="status" name="movie" id="movie">
            <md-option value="active">Active</md-option>
            <md-option value="inactive">Inactive</md-option>
          </md-select>
    </md-field>


    <md-field>
      <label>Descirption</label>
      <md-textarea v-model="description"></md-textarea>
    </md-field>
    <md-field>
      <label>image</label>
      <md-file v-model="image"  @md-change="onFileUpload($event)"  accept="image/*" />
    </md-field>

  <md-button class="md-raised md-success" type="submit"  @click="submitPromotion()" style="margin-top:20px"   :disabled="loadingBtn">
        Submit
      </md-button>
  
        </md-card-content>

  </md-card>
    </div>
    
   
  </div>
</template>
<script>
import { addPromotion,getPromotion } from "@/api/promotion";
  export default {
    name: 'TextFields',
    data: () => ({
      promotion_name: null,
      voucher_code: null,
      discount: null,
      status: null,
      description: null,
      image: null,
      disabled: null,
      loadingBtn : false
    }),
    mounted() {
        if(this.$route.params.id){
        this.getData();
        }
      },
      methods: {
         onFileUpload (evt) {
            this.image = evt[0];
            const file = this.image;
            const reader = new FileReader();
            let rawImg;
            reader.onloadend = () => {
               rawImg = reader.result;
               // console.log(rawImg);
            this.image=rawImg;
            }
            reader.readAsDataURL(file);
            console.log(rawImg)
            },
       submitPromotion() {
         this.loadingBtn =true;
         var formData= {
            promotion_name: this.promotion_name,
            voucher_code: this.voucher_code,
            discount: this.discount,
            status: this.status,
            description: this.description,
            image: this.image,
            user_id: 1,
            promotion_id: this.$route.params.id,
          };
          console.log(this.image,'zxzzzzzzz');
           addPromotion(formData).then(value => {
            this.loadingBtn=false;
            if(value.code==200){
                this.$store.dispatch("alerts/success",'Promotion has been updated');
                this.$router.push({ path : '/admin/promotion' });
            }else{
                this.$store.dispatch("alerts/error",'Failed updated promotion');
            }
        });
       },
      getData() {
          getPromotion({'promotion_id':this.$route.params.id}).then(value => {
              this.promotion_name = value.result.promotion_name;
              this.voucher_code = value.result.voucher_code;
              this.discount = value.result.discount;
              this.description = value.result.description;
              this.status = value.result.status;
               this.image = value.result.image;
          });
        },
    },
  }
</script>
