<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">List Promotion</h4>
        <div class="md-layout md-gutter">
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item">   
            <md-button class="md-raised md-success" md-direction="top-end" @click=" $router.push('/admin/promotion/add');" >
              Add Promotion
            </md-button>
          </div>
        </div>
        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="ID">{{ item.promotion_id }}</md-table-cell>
              <md-table-cell md-label="Promotion Name">{{ item.promotion_name }}</md-table-cell>
              <!-- <md-table-cell md-label="Description">{{ substr(item.description,0,50) }}</md-table-cell> -->
              <md-table-cell md-label="Discount">{{ item.discount+'%' }}</md-table-cell>
              <md-table-cell md-label="Voucher Code">{{ item.voucher_code }}</md-table-cell>
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
              <md-table-cell md-label="Action">
                <a @click=" $router.push('/admin/promotion/edit/'+item.promotion_id);" style="cursor:pointer" >Edit</a>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
    
   
  </div>
</template>
<script>
import { getPromotion } from "@/api/promotion";

export default {
  data() {
     return {
      tableData: [],
      selected: [],
  
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getPromotion({'offset':0,'limit':50,'status' :'all'}).then(value => {
          this.tableData = value.result;
        console.log(value.result);
        });
    },
  }
};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}
.md-table .md-table-cell .md-button {
    margin: auto;
}
.md-button.md-fab .md-icon, .md-button.md-icon-button .md-icon {position:relative}
.mt-0 {
  margin-top: 0 !important;
}
</style>
