<template>
  <div class="md-layout text-center login-fix-page">
    
    <div
      class="md-layout-item md-size-33 md-medium-size-50 md-small-size-70 md-xsmall-size-100"
    >
      <form>
        <login-card header-color="green">
          <h4 slot="title" class="title">Log in</h4>
          <md-field
            class="form-group md-invalid"
            slot="inputs"
            style="margin-bottom: 28px"
          >
            <md-icon>email</md-icon>
            <label>Email...</label>
            <md-input v-model="email" type="email" />
            <validation-error :errors="apiValidationErrors.email" />
          </md-field>
          <md-field class="form-group md-invalid" slot="inputs">
            <md-icon>lock_outline</md-icon>
            <label>Password...</label>
            <md-input v-model="password" type="password" />
          </md-field>
          <md-button
            slot="footer"
            type="submit"
            class="md-simple md-success md-lg"
             @click.native.prevent="handleLogin"
          >
            Sign In
          </md-button>
        </login-card>
      </form>
    </div>
  </div>
</template>

<script>
  import {LoginCard, ValidationError} from "@/components";
  import formMixin from "@/mixins/form-mixin";
  import { validEmail } from '@/utils/validate'
  import { IS_DEV } from '@/env'
  import Cookies from 'js-cookie'

  export default {
     data() {
    return {
      loginForm: {
        email: this.email,
        password: this.password
      },
      loginRules: {
        email: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }]
      },
      loading: true,
      passwordType: 'password',
      redirect: undefined
    }
  },
    components: {
      LoginCard, ValidationError
    },

    mixins: [formMixin],

    data: () => ({
      email: "",
      password: "",
    }),

    methods: {
       handleLogin() {
         var loginForm= {
            email: this.email,
            password: this.password
          }
          this.$store.dispatch('login', loginForm).then((response) => {
            if(response.data.code==200){
            let token= Cookies.set('vue_admin_template_token', response.data.result.token);
            let user_id= Cookies.set('user_id', response.data.result.user_id);
            let access= Cookies.set('access', response.data.result.access);
            this.$store.dispatch("alerts/success",'Success login');
            console.log(response.data.result.access);
            if(response.data.result.access=='admin'){
            window.location.href = '/dashboard';
            }else if(response.data.result.access=='vendor'){
            window.location.href = '/vendor/dashboard';
            }
            }else{
               this.$store.dispatch("alerts/error",response.data.message );
            }
          }).catch(() => {
               this.$store.dispatch("alerts/error",response.data.message );
          })
    },
  }
};
</script>
<style scoped>
.login-fix-page {
  padding-bottom: 7em;
  padding-top: 4em;
}
</style>

