<template>
   <div class="md-layout">
      <div class="md-layout-item md-size-100">
         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">Car Charter Price</h4>
            </md-card-header>
            <md-card-content>
               <md-table v-model="userFee" table-header-color="green">
                  <md-table-row slot="md-table-row" slot-scope="{ item }">
                     <md-table-cell md-label="Account">User</md-table-cell>
                     <md-table-cell md-label="Person">{{item.person[0]+' -'+item.person[1]+' Pax'}}</md-table-cell>
                     <md-table-cell md-label="Price 6 Hours">{{'Rp '+numberWithCommas(item.price_6_hours)}}</md-table-cell>
                     <md-table-cell md-label="Price 10 Hours">{{'Rp '+numberWithCommas(item.price_10_hours)}}</md-table-cell>
                     <md-table-cell md-label="Action">
                        <div class="places-buttons text-center">
                           <a   @click="editUser(item.id,'user')" style="cursor:pointer" >Edit</a>
                        </div>
                     </md-table-cell>
                  </md-table-row>
               </md-table>
               <md-table v-model="driverFee" table-header-color="green">
                  <md-table-row slot="md-table-row" slot-scope="{ item }">
                     <md-table-cell md-label="Account">Driver</md-table-cell>
                     <md-table-cell md-label="Person">{{item.person[0]+' -'+item.person[1]+' Pax'}}</md-table-cell>
                     <md-table-cell md-label="Price 6 Hours">{{'Rp '+numberWithCommas(item.price_6_hours)}}</md-table-cell>
                     <md-table-cell md-label="Price 10 Hours">{{'Rp '+numberWithCommas(item.price_10_hours)}}</md-table-cell>
                     <md-table-cell md-label="Action">
                        <div class="places-buttons text-center">
                           <a   @click="editUser(item.id,'driver')" style="cursor:pointer" >Edit</a>
                        </div>
                     </md-table-cell>
                  </md-table-row>
               </md-table>
            </md-card-content>
         </md-card>
      </div>
      <md-dialog :md-active.sync="showDialog">
         <md-dialog-title>Edit  Fee</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;height:300px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-50">
                  <md-card-content>
                     <md-field>
                        <label>Account</label>
                        <md-input v-model="account" readonly></md-input>
                     </md-field>
                     <md-field>
                        <label>Price 6 Hours</label>
                        <md-input v-model="editFee.price_6_hours" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')"></md-input>
                     </md-field>
                     <md-button class="md-raised md-success" type="button"  @click="submitEdit()" style="margin-top:20px"  :disabled="loadingBtn">
                        Update
                     </md-button>
                  </md-card-content>
               </div>
               <div class="md-layout-item md-size-50">
                  <md-card-content>
                     <md-field>
                        <label>Person</label>
                        <md-input v-model="person"  readonly></md-input>
                     </md-field>
                     <md-field>
                        <label>Price 10 Hours</label>
                        <md-input v-model="editFee.price_10_hours" type="number"  onkeyup="this.value=this.value.replace(/[^\d]/,'')"></md-input>
                     </md-field>
                  </md-card-content>
               </div>
            </div>
         </md-dialog-actions>
      </md-dialog>
   </div>
</template>
<style lang="scss" scoped>
   .md-dialog-container {
   width: 50% !important;
   }
   .md-layout-item {
   height: 40px;
   &:after {
   width: 100%;
   height: 100%;
   display: block;
   background: md-get-palette-color(red, 200);
   content: " ";
   }
   }
</style>
<script>
   import { getSetting,editSettingPrice } from "@/api/setting";
   
   export default {
     data() {
       return {
         selected: [],
         value: null,
         valuee: null,
         userFee: [],
         editFee : null,
         person : null,
         account : null,
         title : null,
         id : null,
         showDialog: false,
         loadingBtn :false
   
       };
     },
       mounted() {
       this.getData();
     },
     methods: {
       getData() {
         getSetting({'setting_name': 'car_charter_price'}).then(value => {
             // this.tableData =  JSON.stringify(value.result.value).user;
           this.userFee = value.result.value.user;
           this.driverFee = value.result.value.driver;
           this.editFee=value.result.value.user[0];
           });
       },
       numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
      editUser(id,type){
        console.log(this.userFee[id-1].price_6_hours );
        this.showDialog=true;
        this.id=id;
        if(type=='user'){
        this.account='user';
        this.person=this.userFee[id-1].person[0]+'-'+this.userFee[id-1].person[1]+' Pax';
        this.editFee=this.userFee[id-1];
        }else{
         this.account='driver';
         this.person=this.driverFee[id-1].person[0]+'-'+this.driverFee[id-1].person[1]+' Pax';
         this.editFee=this.driverFee[id-1];
        }
      },
        submitEdit () {
           this.loadingBtn=true;
          var form = {'account':this.account,
                     'id': this.id,
                     'price_6_hours': this.editFee.price_6_hours,
                     'price_10_hours': this.editFee.price_10_hours,
                     'type' : 'car_charter'
                     };
           editSettingPrice(form).then(value => {
           this.loadingBtn=false;
             if(value.code==200){
               this.$store.dispatch("alerts/success",'Data has been updated');
               this.showDialog=false;
               this.getSetting();
             }else{
               this.$store.dispatch("alerts/error",'Failed updated data');
             }
     
           });
         },
     }
   };
</script>
<style scoped>
   .md-dialog-container {
   width: 50% !important;
   }
   .table-transparent {
   background-color: transparent !important;
   }
   .mt-0 {
   margin-top: 0 !important;
   }
</style>