<template>
   <div class="md-layout">
      <div class="md-layout-item md-size-100">
         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">6 Hours</h4>
                <div class="md-layout md-gutter">
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item">   
            <md-button class="md-raised md-success" md-direction="top-end"  @click="addUser('6 hours')" >
              Add Area
            </md-button>
          </div>
        </div>
            </md-card-header>
            <md-card-content>

               <md-table  table-header-color="green">
                  <md-table-row slot="md-table-row"  v-for="(todo,i) in six_hours" v-bind:key="i">
                     <md-table-cell md-label="Minimsum Km">{{i+1}}</md-table-cell>
                     <md-table-cell md-label="Minimsum Km">{{todo}}</md-table-cell>
                     <md-table-cell md-label="Action">
                        <div class="places-buttons text-center">
                           <a   @click="editUser(todo,'6 hours',i+1)" style="cursor:pointer" >Edit</a>
                        </div>
                     </md-table-cell>
                  </md-table-row>
                  
               </md-table>
            </md-card-content>
         </md-card>



         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">10 Hours</h4>
                <div class="md-layout md-gutter">
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item">   
                    <md-button class="md-raised md-success" md-direction="top-end"  @click="addUser('10 hours')" >
                    Add Area
                    </md-button>
                </div>
                </div>
            </md-card-header>
            <md-card-content>

               <md-table  table-header-color="green">
                  <md-table-row slot="md-table-row"  v-for="(todo,i) in ten_hours" v-bind:key="i">
                     <md-table-cell md-label="Minimsum Km">{{i+1}}</md-table-cell>
                     <md-table-cell md-label="Minimsum Km">{{todo}}</md-table-cell>
                     <md-table-cell md-label="Action">
                        <div class="places-buttons text-center">
                           <a   @click="editUser(todo,'10 hours',i+1)" style="cursor:pointer" >Edit</a>
                        </div>
                     </md-table-cell>
                  </md-table-row>
                  
               </md-table>
            </md-card-content>
         </md-card>
      </div>
      <md-dialog :md-active.sync="showDialog">
         <md-dialog-title>Update  Data</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;height:250px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-50">
                  <md-card-content>
                     <md-field>
                        <label>Duration</label>
                        <md-input v-model="account" readonly></md-input>
                     </md-field>
                
                  </md-card-content>
                    <md-button class="md-raised md-success" type="button"  @click="submitEdit()" style="margin-top:20px"  :disabled="loadingBtn">
                     Update
                     </md-button>
               </div>
               <div class="md-layout-item md-size-50">
                  <md-card-content>
                     <md-field>
                        <label>Destination</label>
                        <md-input v-model="person" ></md-input>
                     </md-field>
                   

                  </md-card-content>
                   
               </div>
            </div>
         </md-dialog-actions>
      </md-dialog>
   </div>
</template>
<style lang="scss" scoped>
   .md-dialog-container {
   width: 50% !important;
   }
   .md-layout-item {
   height: 40px;
   &:after {
   width: 100%;
   height: 100%;
   display: block;
   background: md-get-palette-color(red, 200);
   content: " ";
   }
   }
</style>
<script>
   import { getSetting,editSetting } from "@/api/setting";
   
   export default {
     data() {
       return {
         selected: [],
         value: null,
         valuee: null,
         userFee: [],
         editFee : null,
         person : null,
         account : null,
         title : null,
         id : null,
         six_hours: [],
         showDialog: false,
         loadingBtn: false
   
       };
     },
       mounted() {
       this.getData();
     },
     methods: {
       getData() {
         getSetting({'setting_name': 'car_charter_duration'}).then(value => {
             // this.tableData =  JSON.stringify(value.result.value).user;
           this.six_hours = value.result.six_hours;
           this.ten_hours = value.result.ten_hours;
             console.log(this.six_hours,'ccccccccccccccccccccccccc');

           });
       },
       numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
      editUser(value,duration,id){
        this.showDialog=true;
        this.account=duration;
        this.person=value;
        this.id=id;
        this.action='edit';
      },
      addUser(duration){
        this.action='add';
        this.account=duration;
        this.person='';
        this.showDialog=true;
      },
        submitEdit () {
           this.loadingBtn=true;
           if(this.account=='6 hours'){
               var duration = 'six_hours';
           }else{
               var duration = 'ten_hours';
           }
          var form = {'duration':duration,
                     'value': this.person,
                     'id': this.id,
                     'action': this.action,
                     'setting_name' : 'car_charter_duration'
                     };
            console.log(form,'sxxxxxxxxx');
           editSetting(form).then(value => {
           this.loadingBtn=false;
             if(value.code==200){
                this.account='';
                this.person='';
               this.$store.dispatch("alerts/success",'Data has been updated');
               this.showDialog=false;
               this.getData();
             }else{
               this.$store.dispatch("alerts/error",'Failed updated data');
             }
     
           });
         },
     }
   };
</script>
<style scoped>
   .md-dialog-container {
   width: 50% !important;
   }
   .table-transparent {
   background-color: transparent !important;
   }
   .mt-0 {
   margin-top: 0 !important;
   }
</style>