<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">Self Drive Price</h4>
        </md-card-header>
        <md-card-content>
          <md-table v-model="selfDriveFee" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="Type">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Min KM"
                >{{ item.min_km }} KM</md-table-cell
              >
              <md-table-cell md-label="Price per KM">{{
                "Rp " + numberWithCommas(item.price_per_km)
              }}</md-table-cell>
              <md-table-cell md-label="Action">
                <div class="places-buttons text-center">
                  <a @click="editPrice(item.id)" style="cursor:pointer">Edit</a>
                </div>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
    <md-dialog :md-active.sync="showDialog">
      <md-dialog-title>Edit Fee</md-dialog-title>
      <md-dialog-actions
        style="overflow: auto;padding-top:-10px;height:300px;display:inline"
      >
        <div class="md-layout">
          <div class="md-layout-item md-size-50">
            <md-card-content>
              <md-field>
                <label>ID</label>
                <md-input v-model="editFee.id" readonly></md-input>
              </md-field>
              <md-field>
                <label>Minimum KM</label>
                <md-input
                  v-model="editFee.min_km"
                  type="number"
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                ></md-input>
              </md-field>
              <md-button
                class="md-raised md-success"
                type="button"
                @click="submitEdit()"
                style="margin-top:20px"
                :disabled="loadingBtn"
              >
                Update
              </md-button>
            </md-card-content>
          </div>
          <div class="md-layout-item md-size-50">
            <md-card-content>
              <md-field>
                <label>Type</label>
                <md-input v-model="editFee.type" readonly></md-input>
              </md-field>
              <md-field>
                <label>Price per KM</label>
                <md-input
                  v-model="editFee.price_per_km"
                  type="number"
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                ></md-input>
              </md-field>
            </md-card-content>
          </div>
        </div>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>
<style lang="scss" scoped>
.md-dialog-container {
  width: 50% !important;
}
.md-layout-item {
  height: 40px;
  &:after {
    width: 100%;
    height: 100%;
    display: block;
    background: md-get-palette-color(red, 200);
    content: " ";
  }
}
</style>
<script>
import { getSetting, editSelfDrivePrice } from "@/api/setting";

export default {
  data() {
    return {
      editFee: null,
      id: null,
      showDialog: false,
      loadingBtn: false,
      selfDriveFee: null,
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getSetting({ setting_name: "self_drive_price" }).then((value) => {
        this.selfDriveFee = value.result.value;
        this.editFee = value.result.value[0];
      });
    },
    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    editPrice(id) {
      this.showDialog = true;
      this.id = id;
      this.editFee = this.selfDriveFee[id - 1];
    },
    submitEdit() {
      this.loadingBtn = true;
      var form = {
        id: this.id,
        min_km: this.editFee.min_km,
        price_per_km: this.editFee.price_per_km,
      };
      editSelfDrivePrice(form).then((value) => {
        this.loadingBtn = false;
        if (value.code == 200) {
          this.$store.dispatch("alerts/success", "Data has been updated");
          this.showDialog = false;
          this.getSetting();
        } else {
          this.$store.dispatch("alerts/error", "Failed updated data");
        }
      });
    },
  },
};
</script>
<style scoped>
.md-dialog-container {
  width: 50% !important;
}
.table-transparent {
  background-color: transparent !important;
}
.mt-0 {
  margin-top: 0 !important;
}
</style>
