<template>
   <div class="md-layout">
      <div class="md-layout-item md-size-100">
         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">Self Drive Terms Condition</h4>
            </md-card-header>
            <md-card-content>
               <md-table table-header-color="green">
                  <md-table-row slot="md-table-row" >
                     <md-table-cell md-label="Heading">{{tableData}}</md-table-cell>
                     <md-table-cell md-label="Action">
                        <div class="places-buttons text-center">
                           <a   @click="editUser(tableData)" style="cursor:pointer" >Edit</a>
                        </div>
                     </md-table-cell>
                  </md-table-row>
               </md-table>
               
            </md-card-content>
         </md-card>
      </div>
      <md-dialog :md-active.sync="showDialog">
         <md-dialog-title>Edit  Data</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:300px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                       <md-field>
                        <label>Description</label>
                        <md-textarea v-model="description"></md-textarea>
                     </md-field>
                     <md-button class="md-raised md-success" type="button"  @click="submitEdit()" style="margin-top:20px"  :disabled="loadingBtn">
                        Update
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>
   </div>
</template>
<style lang="scss" scoped>
   .md-dialog-container {
   width: 50% !important;
   }
   .md-layout-item {
   height: 40px;
   &:after {
   width: 100%;
   height: 100%;
   display: block;
   background: md-get-palette-color(red, 200);
   content: " ";
   }
   }
</style>
<script>
   import { getSetting,editSetting } from "@/api/setting";
   
   export default {
     data() {
       return {
         tableData: [],
         value: null,
         heading: null,
         description : null,
         id : null,
         showDialog: false,
         loadingBtn :false
       };
     },
       mounted() {
       this.getData();
     },
     methods: {
       getData() {
         getSetting({'setting_name': 'self_drive_terms_condition'}).then(value => {
           this.tableData=value.result.value;

           });
       },
      
      editUser(value){
         this.description=value;
         this.showDialog= true;
      },
        submitEdit () {
           this.loadingBtn=true;
          var form = {
                     'setting_name': 'self_drive_terms_condition',
                     'value': this.description,
                     };
                     console.log(form);
           editSetting(form).then(value => {
           this.loadingBtn=false;
             if(value.code==200){
               this.showDialog=false;
               this.getData();
               this.$store.dispatch("alerts/success",'Data has been updated');
             }else{
               this.$store.dispatch("alerts/error",'Failed updated data');
             }
     
           });
         },
     }
   };
</script>
<style scoped>
   .md-dialog-container {
   width: 50% !important;
   }
   .table-transparent {
   background-color: transparent !important;
   }
   .mt-0 {
   margin-top: 0 !important;
   }
</style>