<template>
   <div class="md-layout">
      <div class="md-layout-item md-size-100">
         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">Form Car</h4>
            </md-card-header>
            <md-card-content>
               <div class="md-layout">
                  <div class="md-layout-item md-size-50">

                     <md-field>
                        <label>Car</label>
                         <md-select v-model="vehicle_id" name="movie" id="movie"  :disabled=formDisabled>
                           <md-option 
                              v-for="item in dataVehicle" v-bind:key="item.vehicle_id"
                              :value="item.vehicle_id"> 
                              {{item.name}} 
                           </md-option>
                        </md-select>
                     </md-field>



                    <md-field>
                        <label>Transmission</label>
                            <md-select v-model="transmission" name="transmission" id="transmission"  :disabled=formDisabled>
                            <md-option value="Manual"> 
                                Manual
                            </md-option>
                            <md-option value="Matic"> 
                                Matic
                            </md-option>
                        </md-select>
                     </md-field>

                      <md-field>
                        <label>Year</label>
                        <md-input v-model="year"  onkeyup="this.value=this.value.replace(/[^\d]/,'')"  :disabled=formDisabled></md-input>
                     </md-field>


                    <md-field>
                        <label>Status</label>
                            <md-select v-model="status" name="status" id="status"  :disabled=formDisabled>
                            <md-option value="Active"> 
                                Active
                            </md-option>
                            <md-option value="Non Active"> 
                                Non Active
                            </md-option>
                        </md-select>
                     </md-field>

                     <md-button class="md-raised md-success" type="submit"  v-if="formDisabled==false" @click="submitCar()" style="margin-top:20px"  :disabled="loadingBtn">
                        Submit
                     </md-button>
                  </div>
                  <div class="md-layout-item md-size-50">
                   
                      <md-field>
                        <label>Plate Number</label>
                        <md-input v-model="plate_number" :disabled=formDisabled></md-input>
                     </md-field>
                    <md-field>
                        <label>Rental Price</label>
                        <md-input v-model="rental_price"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" :disabled=formDisabled></md-input>
                     </md-field>
                    
                    <md-field>
                        <label>image</label>
                        <md-file v-model="image" accept="image/*" />
                    </md-field>

                     

                  </div>
               </div>
            </md-card-content>
         </md-card>
      </div>
   </div>
</template>
<script>
   import { addCar,getCar } from "@/api/cars";
   import { getUser } from "@/api/user";
   import { getVehicle } from "@/api/vehicle";
   
     export default {
       name: 'TextFields',
       data: () => ({
         vehicle_id: null,
         transmission: null,
         year: null,
         image: null,
         plate_number: null,
         rental_price: null,
         status: null,
         dataVehicle: [],
         loadingBtn: false,
         car_id: null,
         formDisabled: false
       }),
        mounted() {
              if(this.$router.history.current.name=='Car Detail'){
                 this.formDisabled=true;
              }else{
                 this.formDisabled=false;
              }
            this.getDataVehicle();
            if(this.$route.params.id){
                this.getDataCar();
            }
         
        },
         methods: {
             getDataVehicle() {
                getVehicle().then(value => {
                this.dataVehicle = value.result;
                });
            },

    getDataCar() {
            getCar({'car_id':this.$route.params.id}).then(value => {
                console.log(value.result,'jjjjjjjj');

                this.vehicle_id = value.result.vehicle_id;
                this.year = value.result.year;
                this.car_id = value.result.car_id;
                this.transmission = value.result.transmission;
                this.plate_number = value.result.plate_number;
                this.rental_price = value.result.rental_price;
                this.status = value.result.status;
            });
        },
          submitCar() {
            this.loadingBtn=true;
            var formData= {
               vehicle_id: this.vehicle_id,
               year: this.year,
               transmission: this.transmission,
               plate_number: this.plate_number,
               rental_price: this.rental_price,
               car_id: this.car_id,
               status: this.status
             };
               console.log(formData);
   
              addCar(formData).then(value => {
               if(value.code==200){
                  this.$store.dispatch("alerts/success",'Success updated cat');
                   this.$router.push({ path : '/admin/cars' });
               }else{
                  this.$store.dispatch("alerts/error",value.message);
               }
             this.loadingBtn=false;
           });
             console.log(formData);
          }
       },
     }
</script>