<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">Cars Type</h4>
          <div class="md-layout md-gutter">
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item">   
                  <md-button class="md-raised md-success" md-direction="top-end"   @click="addCars()">
                    Add Car
                  </md-button>
                </div>
              </div>
        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="#">{{ item.vehicle_id }}</md-table-cell>
              <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
              <md-table-cell md-label="Seats">{{ item.seats }}</md-table-cell>
              <md-table-cell md-label="Type">{{ item.vehicle_type.type }}</md-table-cell>
              <!-- <md-table-cell md-label="Action"> -->
                    <!-- <a :href="'/admin/vehicle/type/' + item.vehicle_type_id">Detail</a> -->
              <!-- </md-table-cell> -->
              <md-table-cell md-label="Action">
                <div class="places-buttons text-center">
                    <a   @click="editCars(item.vehicle_id,item.name,item.seats,item.vehicle_type_id)" style="cursor:pointer" >Edit</a>
                </div>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
    
      <md-dialog :md-active.sync="showDialog">
         <md-dialog-title>Update  Car</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:300px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                     <md-field>
                        <label>Car Name</label>
                        <md-input v-model="name"></md-input>
                     </md-field>
                      <md-field>
                        <label>Seats</label>
                        <md-input v-model="seats"></md-input>
                     </md-field>
                      <md-field md-inline>
                        <label for="movie">Type</label>
                        <md-select v-model="vehicle_type_id" name="type" id="type">
                          <md-option value="1">Reguler</md-option>
                          <md-option value="2">Luxury</md-option>
                        </md-select>
                    </md-field>
                     <md-button class="md-raised md-success" type="button"  @click="submitEdit()" style="margin-top:20px" :disabled="loadingBtn">
                        Submit
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>
  </div>
</template>
<script>
import { getVehicle,addVehicle } from "@/api/vehicle";

export default {
  data() {
    return {
      selected: [],
      name: null,
      seats: null,
      vehicle_type_id: null,
      vehicle_id: null,
      tableData: [],
      showDialog: false,
      loadingBtn : false

    };
  },
    mounted() {
    this.getData();
  },
  methods: {
      editCars(id,name,seats,vehicle_type_id){
          console.log(id);
         this.vehicle_id=id;
         this.name=name;
         this.seats=seats;
         this.vehicle_type_id=vehicle_type_id;
         this.showDialog= true;
      },
      addCars(){
         this.showDialog= true;
      },
    getData() {
      getVehicle().then(value => {
        this.tableData = value.result;
        this.updatingProgress = false;
      });
    },
    
   
    submitEdit () {
      this.loadingBtn =true;
      var form = {
                  'vehicle_id': this.vehicle_id,
                  'vehicle_type_id': this.vehicle_type_id,
                  'name': this.name,
                  'seats': this.seats,
                  };
        addVehicle(form).then(value => {
          this.loadingBtn =false;
          if(value.code==200){
            this.showDialog=false;
            this.getData();
            this.$store.dispatch("alerts/success",'Car has been updated');
          }else{
            this.$store.dispatch("alerts/error",'Failed updated car');
          }
  
        });
      },
  },

};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}
.md-table .md-table-cell .md-button {
    margin: auto;
}
.md-button.md-fab .md-icon, .md-button.md-icon-button .md-icon {position:relative}
.mt-0 {
  margin-top: 0 !important;
}
</style>
