<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">Cars List</h4>
          <div class="md-layout md-gutter">
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item">   
                   <md-button class="md-raised md-success" md-direction="top-end" @click=" $router.push('/admin/cars/add');" >
                    Add Car
                    </md-button>
                </div>
              </div>
        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="Car">{{ item.vehicle.name }}</md-table-cell>
              <md-table-cell md-label="Type">{{ item.vehicle.vehicle_type.type }}</md-table-cell>
              <md-table-cell md-label="Transmission">{{ item.transmission }}</md-table-cell>
              <md-table-cell md-label="Year">{{ item.year }}</md-table-cell>
              <md-table-cell md-label="Plate Number">{{ item.plate_number }}</md-table-cell>
              <md-table-cell md-label="Rental Price">{{ item.rental_price }}</md-table-cell>
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
              <md-table-cell md-label="Action">
                <div class="places-buttons text-center">
                    <a  @click=" $router.push('/admin/car/edit/' + item.car_id);" style="cursor:pointer">Edit</a>
                </div>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>

  </div>
</template>
<script>
import { getCar,addCar } from "@/api/cars";
 import { getUserLoggediIn} from "@/api/user";

export default {
  data() {
    return {
      selected: [],
      name: null,
      seats: null,
      vehicle_type_id: null,
      vehicle_id: null,
      tableData: [],
      user_id: '',
      showDialog: false,
      loadingBtn : false

    };
  },
    mounted() {
      getUserLoggediIn().then(value => {
          this.user_id = value.result.user_id;
          this.getData();
      });
  },
  methods: {
      editCars(id,name,seats,vehicle_type_id){
          console.log(id);
         this.vehicle_id=id;
         this.name=name;
         this.seats=seats;
         this.vehicle_type_id=vehicle_type_id;
         this.showDialog= true;
      },
      addCars(){
         this.showDialog= true;
      },
      
    getData() {
      getCar({'user_id':this.user_id}).then(value => {
        this.tableData = value.result;
        this.updatingProgress = false;
      });
    },
    
   
    submitEdit () {
      this.loadingBtn =true;
      var form = {
                  'vehicle_id': this.vehicle_id,
                  'vehicle_type_id': this.vehicle_type_id,
                  'name': this.name,
                  'seats': this.seats,
                  };
        addCar(form).then(value => {
          this.loadingBtn =false;
          if(value.code==200){
            this.showDialog=false;
            this.getData();
            this.$store.dispatch("alerts/success",'Car has been updated');
          }else{
            this.$store.dispatch("alerts/error",'Failed updated car');
          }
  
        });
      },
  },

};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}
.md-table .md-table-cell .md-button {
    margin: auto;
}
.md-button.md-fab .md-icon, .md-button.md-icon-button .md-icon {position:relative}
.mt-0 {
  margin-top: 0 !important;
}
</style>
