<!--

=========================================================
* Vue Material Dashboard PRO - v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/vue-material-dashboard-laravel
* Copyright Creative Tim (https://www.creative-tim.com) & UPDIVISION (https://www.updivision.com)

* Coded by www.creative-tim.com & www.updivision.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= webpackConfig.output.publicPath %>favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Featour Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=1">

  <!-- Anti-flicker snippet (recommended)  -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
      {'GTM-K9BGS8K':true});</script>

  <!-- Canonical SEO -->
  <link rel=canonical href=https://www.creative-tim.com/product/vue-material-dashboard-laravel>

  <!--  Social tags      -->
  <meta name=keywords content="">
  <meta name=description content="">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "882b1a7e-1db7-4036-987e-2f2f04b017c8",
      autoResubscribe: true,
        notifyButton: {
          enable: true,
        },
         // Depends if you're testing or not
        allowLocalhostAsSecureOrigin: true
      });
      OneSignal.showNativePrompt();
  });
  </script>
</head>

<body class="sidebar-mini sidebar-image">

<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->

<div id="app"></div>
<!-- built files will be auto injected -->

</body>
</html>
