<template>
  <md-card class="md-card-profile">
    <div class="md-card-avatar">
      <img class="img" :src="detail.profile_picture"/>
    </div>
    <md-card-content>
      <h4 class="card-title"  v-if="detail.access=='driver' || detail.access=='user' ">{{detail.first_name+' '+detail.last_name}}</h4>
      <h4 class="card-title"  v-if="detail.access=='vendor'">{{detail.vendor.vendor_name}}</h4>
      <!-- <h6 class="category text-red">{{detail.account_status}}</h6> -->

      <p class="card-description">
      </p>
      <!-- <md-button class="md-round" :class="getColorButton(buttonColor)">
        Follow
      </md-button> -->



    <div class="md-layout">
      <div class="md-layout-item md-size-50">
          <h3 class="md-subheading" style="text-align:left">Main Information</h3>
          <div class="md-layout-item md-size-80" style="margin-left:-30px">
              <md-list>
                  <md-list-item class="text-gray">Email <code  class="text-gray">{{detail.email}}</code></md-list-item>
                  <md-list-item>Phone <code  class="text-gray">{{detail.phone}}</code></md-list-item>
                  <md-list-item   v-if="detail.access=='driver'">Car <code  class="text-gray">{{detail.driver.vehicle.name}}</code></md-list-item>
                  <md-list-item   v-if="detail.access=='driver'">Plate Number <code  class="text-gray">{{detail.driver.plate_number}}</code></md-list-item>
                  <md-list-item   v-if="detail.access=='driver'">Seats  <code  class="text-gray">{{detail.driver.vehicle.seats}}</code></md-list-item>
                  <md-list-item   v-if="detail.access=='driver'">Car Price  <code  class="text-gray"> {{'Rp '+detail.driver.vehicle.price}}</code></md-list-item>
               
               
                  <md-list-item   v-if="detail.access=='vendor'">Serivce Fee  
                    <code  class="text-gray" v-if="detail.vendor.service_fee_type=='percentase'"> {{detail.vendor.service_fee+'%'}}</code>
                    <code  class="text-gray" v-else-if="detail.vendor.service_fee_type=='nominal'"> {{'Rp '+detail.vendor.service_fee}}</code>
                    </md-list-item>
                  <md-list-item v-if="detail.access=='vendor'">Status Vendor
                    <code class="text-gray">  
                      <md-badge v-if="detail.vendor.status=='Active'" class="md-square md-primary" :md-content="detail.vendor.status" />
                      <md-badge v-else class="md-square" :md-content="detail.vendor.status" />
                    </code>
                  </md-list-item>


                  <md-list-item>Status User<code  class="text-gray">  
                    <md-badge v-if="detail.account_status=='banned'" class="md-square" :md-content="detail.account_status" />
                    <md-badge v-else class="md-primary md-square" :md-content="detail.account_status" />
                  </code></md-list-item>

                  </md-list>
                  <md-list-item   v-if="detail.account_status=='banned'">Note  <code  class="text-gray"> {{additional_user.banned_reason}}</code></md-list-item>

          </div>
      </div>

      <div class="md-layout-item md-size-50"  v-if="detail.access=='driver' || detail.access=='vendor' ">
        <h3 class="md-subheading" style="text-align:left">Bank Information</h3>
        <div class="md-layout-item md-size-80" style="margin-left:-30px">
            <md-list>
                <md-list-item class="text-gray">Bank Name <code  class="text-gray">{{detail.bank_account.bank.name}}</code></md-list-item>
                <md-list-item>Account Number <code  class="text-gray">{{detail.bank_account.account_number}}</code></md-list-item>
                 <md-list-item>Account Name <code  class="text-gray">{{detail.bank_account.account_name}}</code></md-list-item>
                </md-list>
        </div>

        <h3 class="md-subheading" style="text-align:left">Wallet Information</h3>
        <div class="md-layout-item md-size-80" style="margin-left:-30px">
            <md-list>
                <md-list-item>Balance <code  class="text-gray">{{'Rp ' +numberWithCommas(detail.wallet.balance)}}</code></md-list-item>
                <md-list-item>Balance Withdraw<code  class="text-gray">{{'Rp ' +numberWithCommas(detail.wallet.balance_withdraw)}}</code></md-list-item>
            </md-list>
        </div>
    </div>


    <div class="md-layout-item md-size-50"  v-if="detail.access=='user' && detail.document">
        <h3 class="md-subheading" style="text-align:left">Document  Information</h3>
        <div class="md-layout-item md-size-80" style="margin-left:-30px">
            <md-list>
                <md-list-item class="text-gray">Card ID <code  class="text-gray"><a :href="detail.document.card_id" target="_blank">View Document</a></code></md-list-item>
                <md-list-item class="text-gray">Card ID + Selfie  <code  class="text-gray"><a :href="detail.document.card_id_selfie" target="_blank">View Document</a></code></md-list-item>
                <md-list-item class="text-gray">SIM Card <code  class="text-gray"><a :href="detail.document.sim_card" target="_blank">View Document</a></code></md-list-item>
                <md-list-item class="text-gray"  v-if="detail.document.another_document!=''">Another Document <code  class="text-gray"><a :href="detail.document.another_document" target="_blank">View Document</a></code></md-list-item>
                <md-list-item class="text-gray">Status <code  class="text-gray">{{detail.document.status}}</code></md-list-item>
                <md-list-item class="text-gray"   v-if="detail.document.note">Note <code  class="text-gray">{{detail.document.note}}</code></md-list-item>
                </md-list>
        </div>

    </div>




     <div class="md-layout-item md-size-100" v-if="orderHistory">
        <h3 class="md-subheading" style="text-align:left">Order History</h3>
       <md-table v-model="orderHistory" table-header-color="orange">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="Booking ID">{{ item.booking_id }}</md-table-cell>
              <md-table-cell md-label="Type">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Pickup Date">{{ item.pickup_date }} {{ item.pickup_time }}</md-table-cell>
              <md-table-cell md-label="Total Payment">{{ 'Rp '+numberWithCommas(item.subtotal) }}</md-table-cell>
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
            </md-table-row>
          </md-table>
    </div>



     <div class="md-layout-item md-size-100" style="margin-top:30px" v-if="detail.access=='driver'">
        <h3 class="md-subheading" style="text-align:left">Mutations History</h3>
       <md-table v-model="detail.wallet.mutation" table-header-color="orange">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="Date">{{ new Date(item.created_at).toLocaleString() }}</md-table-cell>
              <md-table-cell md-label="Type">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Amount In">{{ 'Rp '+numberWithCommas(item.amount_in) }}</md-table-cell>
              <md-table-cell md-label="Amount Out">{{ 'Rp '+numberWithCommas(item.amount_out) }}</md-table-cell>
              <md-table-cell md-label="Remark">{{ item.remark }}</md-table-cell>
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
            </md-table-row>
          </md-table>
    </div>

        </div>



        <!-- 
          <div class="card-text" style="text-align:left">
            <h4 class="md-subheading">Order History</h4>
          </div>
          <md-table v-model="users" table-header-color="orange">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="Id">{{ item.id }}</md-table-cell>
              <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
              <md-table-cell md-label="Pickup Location">{{ item.salary }}</md-table-cell>
              <md-table-cell md-label="Destination">{{ item.salary }}</md-table-cell>
              <md-table-cell md-label="Car Type">{{ item.country }}</md-table-cell>
            </md-table-row>
          </md-table> -->

      <md-button class="md-raised md-danger" v-if="detail.account_status=='active'" @click="setStatus('banned')" style="margin-top:20px">
        Banned Account
      </md-button>
      <md-button class="md-raised md-success" v-else-if="detail.account_status=='banned'" @click="setStatus('active')" style="margin-top:20px">
        Activate  Account
      </md-button>

      <md-button class="md-raised md-success" v-if="detail.document && detail.document.status=='pending'" @click="documentAction()" style="margin-top:20px">
        Document Action
      </md-button>
   <div>
    <md-dialog-confirm
      :md-active.sync="active"
      :md-title="titleModal"
      :md-content="contentModal"
      md-confirm-text="Confirm"
      md-cancel-text="Cancel"
      @md-cancel="onCancel"
      @md-confirm="onConfirm" />
  </div>
    </md-card-content>



      <md-dialog :md-active.sync="showDialogDocument">
         <md-dialog-title>Document Action</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:200px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                     <md-field>
                        <label>Note</label>
                        <md-input v-model="note"></md-input>
                     </md-field>
                      <md-button class="md-raised md-danger" type="button"  @click="onConfirmDocument('decline')" style="margin-top:20px"  :disabled="loadingBtn">
                        Decline
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="onConfirmDocument('approved')" style="margin-top:20px"  :disabled="loadingBtn">
                        Approve
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>




      <md-dialog :md-active.sync="showDialog">
         <md-dialog-title>{{this.titleModal}}</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:200px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                    {{this.contentModal}}
                     <md-field>
                        <label>Note</label>
                        <md-input v-model="note"></md-input>
                     </md-field>
                      <md-button class="md-raised md-danger" type="button"  @click="onCancel()" style="margin-top:20px"  :disabled="loadingBtn">
                        Cancel
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="onConfirm()" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>


  </md-card>

  

</template>


<script>
import { getUser,setStatusUser,setStatusDocument } from "@/api/user";
import { getBooking } from "@/api/booking";

export default {
    name: "user-profile-card",
    props: {
      cardUserImage: {
        type: String,
        default: process.env.VUE_APP_BASE_URL + "/img/faces/marc.jpg"
      },
      buttonColor: {
        type: String,
        default: "red"
      }
    },
  data() {
    return {
      selected: [],
      detail: [],
      orderHistory :[],
      active: false,
      showDialog: false,
      titleModal: '',
      contentModal: '',
      status : '',
      note: '',
      value: null,
      loadingBtn: false,
      showDialogDocument: false,
  };
  },
  
    mounted() {
        getUser({'user_id':this.$route.params.id}).then(value => {
          this.detail = value.result[0];
          console.log(value.result[0]);
          if(value.result[0].additional_data){
          this.additional_user = JSON.parse(value.result[0].additional_data);
          }
          if(value.result[0].access=='driver'){
          console.log(value.result[0].driver.driver_id);
          this.getDataBooking('driver',value.result[0].driver.driver_id);
          }else{
          this.getDataBooking('user',value.result[0].user_id);
          }
        });
  },
  methods: {
    getColorButton: (buttonColor) => ("md-" + buttonColor + ""),
      getDataBooking(type, id) {

        if(type=='driver'){
          var formData = {"driver_id" :id}
        }else{
          var formData = {"user_id" :id}
        }
        getBooking(formData).then(value => {
            this.orderHistory = value.result;
            this.orderHistory.additional = JSON.parse(value.result.additional_data);
          });
      },
      numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
      onConfirm () {
        this.loadingBtn=true;
        setStatusUser({'user_id':this.$route.params.id,'status': this.status,"banned_reason":this.note}).then(value => {
          this.loadingBtn=false;
          if(value.code==200){
           this.$store.dispatch("alerts/success",'This account status has been updated');
            this.detail.account_status =value.result.account_status;
            console.log(value);
            this.showDialog=false;
          }else{
            this.showDialog=false;
           this.$store.dispatch("alerts/error",'Failed updated account status');
          }
  
        });
      },
         onConfirmDocument (status) {
        this.loadingBtn=true;
        setStatusDocument({'document_id':this.detail.document.document_id,'status':status,"note":this.note}).then(value => {
          this.loadingBtn=false;
          if(value.code==200){
           this.$store.dispatch("alerts/success",'This Document status has been updated');
            this.detail.document.status =status;
            this.detail.document.note =this.note;
            this.showDialogDocument=false;
          }else{
            this.showDialogDocument=false;
           this.$store.dispatch("alerts/error",'Failed updated Document status');
          }
  
        });
      },
        documentAction () {
        this.showDialogDocument=true;
      },
       setStatus (status) {
        this.status =status;
        this.showDialog=true;
        if(status=='active'){
          if(this.detail.access=='driver'){
          this.titleModal = 'Are you sure you want to activate this guide ?';
          this.contentModal = 'After activated, this guide can accept orders';
          }else if(this.detail.access=='vendor'){
          this.titleModal = 'Are you sure you want to activate this vendor ?';
          this.contentModal = 'After activated, this vendor can accept orders';
          }else{
          this.titleModal = 'Are you sure you want to activate this account ?';
          this.contentModal = 'After activated, this user can already place an order ';
          }
        }else if(status=='banned'){
          if(this.detail.access=='driver'){
          this.titleModal = 'Are you sure you want to banned this  guide ?';
          this.contentModal = 'After banned, the guide can no longer accept orders';
          }else if(this.detail.access=='vendor'){
          this.titleModal = 'Are you sure you want to banned this  vendor ?';
          this.contentModal = 'After banned, the vendor can no longer accept orders';
          }else{
          this.titleModal = 'Are you sure you want to banned this  account ?';
          this.contentModal = 'After banned, the user  is no longer able to place an order';
          }
        }
      },
      onCancel () {
        this.showDialog = false;
      }
  }
};
</script>
