<template>
<v-app>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
        </md-card-header>
        <md-card-content>

 <v-card-title>
      List User
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
        <v-data-table
    :headers="headers"
    :items="tableData"
    :search="search"
    :items-per-page="10"
    class="elevation-1"
  >
    <template v-slot:item.user_id="{ item }">
                <md-button class="md-success" style="margin-right:6px"  @click=" $router.push('/admin/user/detail/' + item.user_id);" >Detail
                </md-button>
                <md-button class="md-danger"  @click="showDialogDecline=true;user_id=item.user_id" >Delete
                </md-button>


    </template>
    
    </v-data-table>



        </md-card-content>
      </md-card>
    </div>
    
   

   <md-dialog :md-active.sync="showDialogDecline">
         <md-dialog-title> Delete Account</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:200px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                    Are you sure want to delete this account ?<br>
                      <md-button class="md-raised md-danger" type="button"  @click="showDialogDecline=false" style="margin-top:20px" >
                        Cancel
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="deleteAccount()" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm
                     </md-button>

                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>
  </div>


</v-app>


</template>
<script>
import { getUser,deleteUser } from "@/api/user";

export default {
  data() {
    return {
      selected: [],
      search : '',
      tableData: [],
      showDialogDecline: false,
      loadingBtn :false,
      user_id: false,
      headers: [
         
          { text: 'Name', value: 'first_name' },
          { text: 'Email', value: 'email' },
          { text: 'Phone', value: 'phone' },
          { text: 'Registered Via', value: 'registered_via' },
          { text: 'Account Status', value: 'account_status' },
          { text: 'Action', value: 'user_id' },
        ],
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getUser({'access':'user'}).then(value => {
          this.tableData = value.result;
        console.log(value.result);
        });
    },
     deleteAccount () {
            this.loadingBtn= true;
               var dataForm= {
                  user_id: this.user_id
               }

            deleteUser(dataForm).then(value => {
                this.loadingBtn= false;

               this.showDialogDecline =false;
               this.$store.dispatch("alerts/success",'This account has been deleted');
               this.getData();
            });
         },
    getClass: ({ id }) => ({
      "table-success": id === 1,
      "table-info": id === 3,
      "table-danger": id === 5,
      "table-warning": id === 7
    })
  }
};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.md-button {
  width: auto;
    line-height: 10px;
    margin: auto;
    padding: 4px;
}
</style>
