<template>
   <div class="md-layout">
      <div class="md-layout-item md-size-50">
         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">Update Profile</h4>
            </md-card-header>
            <md-card-content>
               <md-field>
                  <label>First Name</label>
                  <md-input v-model="detail.first_name"></md-input>
               </md-field>
               <md-field>
                  <label>Last Name</label>
                  <md-input v-model="detail.last_name"></md-input>
               </md-field>
                <md-field>
                  <label>Email</label>
                  <md-input v-model="detail.email"></md-input>
               </md-field>
                <md-field>
                  <label>Phone</label>
                  <md-input v-model="detail.phone"></md-input>
               </md-field>


               <md-field v-if="detail.access=='vendor'">
                  <label>Vendor Name</label>
                  <md-input v-model="detail.vendor.vendor_name"></md-input>
               </md-field>

               <md-field v-if="detail.access=='vendor'">
                  <label>Service Fee Type</label>
                     <md-select v-model="detail.vendor.service_fee_type" name="service_fee_type" id="service_fee_type" disabled>
                     <md-option value="percentase"> 
                        Percentase
                     </md-option>
                     <md-option value="nominal"> 
                        Nominal
                     </md-option>
                  </md-select>
               </md-field>
               <md-field v-if="detail.access=='vendor'">
                  <label>Service Fee</label>
                  <md-input v-model="detail.vendor.service_fee"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" disabled></md-input>
               </md-field>
               <md-field v-if="detail.access=='vendor'">
                  <label>Booking Confirmation</label>
                     <md-select v-model="detail.vendor.is_auto_confirm" name="service_fee_type" id="service_fee_type">
                     <md-option value="1"> 
                        Auto Confirmation
                     </md-option>
                     <md-option value="0"> 
                        Manual Confirmation
                     </md-option>
                  </md-select>
               </md-field>


               <md-button class="md-raised md-success" type="submit"  @click="submitProfile()" style="margin-top:20px" :disabled="loadingBtn">
                  Update Profile
               </md-button>
            </md-card-content>
         </md-card>
      </div>

        <div class="md-layout-item md-size-50">
         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">Change Password</h4>
            </md-card-header>
            <md-card-content>
               <md-field>
                  <label>Old Password</label>
                  <md-input v-model="old_password" type="password"></md-input>
               </md-field>
               <md-field>
                  <label>New Password</label>
                  <md-input v-model="new_password" type="password"></md-input>
               </md-field>
                <md-field>
                  <label>Confirm New Password</label>
                  <md-input v-model="confirm_new_password"  type="password"></md-input>
               </md-field>
               <md-button class="md-raised md-success" type="submit"  @click="submitChange()" style="margin-top:20px" :disabled="loadingBtn">
                  Change Password
               </md-button>
            </md-card-content>
         </md-card>
      </div>
   </div>
</template>
<script>
   import { changePassword,updateProfile,getUser,getUserLoggediIn} from "@/api/user";
     export default {
         data() {
         return {
            old_password: null,
            new_password: null,
            loadingBtn: false,
            confirm_new_password: null,
            service_fee_type:null,
            service_fee :null,
            auto_confirm_booking: null,
            detail:[]
         };
      },
         mounted() {
            this.getData();
         },
         methods: {
          getData() {
            getUserLoggediIn().then(value => {
                this.detail = value.result;
            });
          },
          submitChange() {
             this.loadingBtn=true;
            var formData= {
               email: this.detail.email,
               old_password: this.old_password,
               new_password: this.new_password,
               confirm_new_password: this.confirm_new_password
             };
               if(this.new_password != this.confirm_new_password){
                this.loadingBtn=false;
                 return  this.$store.dispatch("alerts/error",'New confirmation password doesnt match');
               }            
               if(this.confirm_new_password.length < 6 ){
                   this.loadingBtn=false;
                 return  this.$store.dispatch("alerts/error",'Password must be at least 6 characters long');
               }
              changePassword(formData).then(value => {
               this.loadingBtn=false;
               if(value.code==200){
                  this.$store.dispatch("alerts/success",'Success change password');
               }else{
                  this.$store.dispatch("alerts/error","Old password is wrong");
               }
               });
          },
          submitProfile() {
             if(this.detail.access=='vendor'){
                var vendor_name= this.detail.vendor.vendor_name;
                var service_fee= this.detail.vendor.service_fee;
                var service_fee_type= this.detail.vendor.service_fee_type;
                var is_auto_confirm= this.detail.vendor.is_auto_confirm;
             }else{
                var vendor_name= '';
                var service_fee= '';
                var service_fee_type= '';
                var is_auto_confirm= '';
             }
            var formData= {
               first_name: this.detail.first_name,
               last_name: this.detail.last_name,
               email: this.detail.email,
               phone: this.detail.phone,
               vendor_name :vendor_name,
               service_fee :service_fee,
               service_fee_type :service_fee_type,
               is_auto_confirm :is_auto_confirm,
             };
              updateProfile(formData).then(value => {
               console.log(value);
               if(value.code==200){
                  this.$store.dispatch("alerts/success",'Success updated profile');
               }
               this.loadingBtn=false;
               });
          },
       },
     }
</script>

