<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">List Report</h4>


        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="Booking ID">{{ item.booking_id }}</md-table-cell>
              <md-table-cell md-label="Cust Name">{{ item.booking.user.first_name }}</md-table-cell>
              <md-table-cell md-label="Cust Email">{{ item.booking.user.email }}</md-table-cell>
              <md-table-cell md-label="Comment">{{ item.comment }}</md-table-cell>
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
              <md-table-cell md-label="Note">{{ item.reason }}</md-table-cell>
              <md-table-cell md-label="Created At">{{ new Date(item.created_at).toLocaleString() }}</md-table-cell>
              <md-table-cell md-label="Action">
                <div class="places-buttons text-center">
                    <a @click=" $router.push('/admin/bookingDetail/'+item.booking_id);" style="cursor:pointer" >Detail</a>
                </div>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>


<style lang="scss" scoped>

  .md-layout-item {
    height: 40px;

    &:after {
      width: 100%;
      height: 100%;
      display: block;
      background: md-get-palette-color(red, 200);
      content: " ";
    }
  }
</style>

<script>
import { getReport } from "@/api/report";

export default {
  data() {
    return {
      selected: [],
      tableData: []
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getReport().then(value => {
          this.tableData = value.result;
        console.log(value.result);
        });
    },
    
    getClass: ({ id }) => ({
      "table-success": id === 1,
      "table-info": id === 3,
      "table-danger": id === 5,
      "table-warning": id === 7
    })
  }
};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}

.mt-0 {
  margin-top: 0 !important;
}
</style>
