<template>
   <div class="md-layout">
      <div class="md-layout-item md-size-100">
         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">Add Guide</h4>
            </md-card-header>
            <md-card-content>
               <div class="md-layout">
                  <div class="md-layout-item md-size-50">
                     <md-field>
                        <label>First Name</label>
                        <md-input v-model="first_name"></md-input>
                     </md-field>
                     <md-field>
                        <label>Last Name</label>
                        <md-input v-model="last_name"></md-input>
                     </md-field>
                     <md-field>
                        <label>Email</label>
                        <md-input v-model="email"></md-input>
                     </md-field>
                     <md-field>
                        <label>Phone</label>
                        <md-input v-model="phone"></md-input>
                     </md-field>
                      <md-field>
                        <label>Password</label>
                        <md-input v-model="password" type="password"></md-input>
                     </md-field>
                     <md-field md-inline>
                        <label for="movie">Prefered Language</label>
                        <md-select v-model="language" name="language" id="language">
                           <md-option 
                              v-for="item in language" v-bind:key="item.country_id"
                              :value="item.country_name"> 
                              {{item.country_name}} 
                           </md-option>
                        </md-select>
                     </md-field>
                     <md-button class="md-raised md-success" type="submit"  @click="submitDriver()" style="margin-top:20px"  :disabled="loadingBtn">
                        Submit
                     </md-button>
                  </div>
                  <div class="md-layout-item md-size-50">
                     <md-field md-inline>
                        <label for="movie">Bank</label>
                        <md-select v-model="bank_id" name="movie" id="movie">
                           <md-option 
                              v-for="item in dataBank" v-bind:key="item.bank_id"
                              :value="item.bank_id"> 
                              {{item.name}} 
                           </md-option>
                        </md-select>
                     </md-field>
                     <md-field>
                        <label>Account Number</label>
                        <md-input v-model="account_number"   type="number"></md-input>
                     </md-field>
                     <md-field>
                        <label>Account Name</label>
                        <md-input v-model="account_name"></md-input>
                     </md-field>
                     <md-field md-inline>
                        <label for="movie">Car</label>
                        <md-select v-model="vehicle_id" name="movie" id="movie">
                           <md-option 
                              v-for="item in dataVehicle" v-bind:key="item.vehicle_id"
                              :value="item.vehicle_id"> 
                              {{item.name}} 
                           </md-option>
                        </md-select>
                     </md-field>
                     <md-field>
                        <label>Plate Number</label>
                        <md-input v-model="plate_number"></md-input>
                     </md-field>
                  </div>
               </div>
            </md-card-content>
         </md-card>
      </div>
   </div>
</template>
<script>
   import { getUser,addDriver } from "@/api/user";
   import { getBank } from "@/api/bank";
   import { getVehicle } from "@/api/vehicle";
   import { getCountry } from "@/api/country";
      // const language  = ['Indonesia','English', 'Japan' , 'Chinese' , 'Rusia'];
     export default {
       name: 'TextFields',
       data: () => ({
         first_name: null,
         last_name: null,
         email: null,
         phone: null,
         bank_id: null,
         account_number: null,
         account_name: null,
         vehicle_id: null,
         user_id: null,
         plate_number: null,
         user_id: null,
         country: null,
         dataBank: [],
         dataVehicle: [],
         language: [],
         loadingBtn: false,
         password: '',
       }),
        mounted() {
            this.getDataBank();
            this.getDataVehicle();
            if(this.$route.params.id){
                this.getDataUser();
            }
            this.getDataCountry();
         
        },
         methods: {
            getDataBank() {
                getBank({'is_visible':1}).then(value => {
                this.dataBank = value.result;
                });
            },
            getDataCountry() {
                getCountry().then(value => {
                this.language = value.result;
                });
            },
            getDataVehicle() {
                getVehicle().then(value => {
                this.dataVehicle = value.result;
                });
            },
              getDataUser() {
                getUser({'user_id':this.$route.params.id}).then(value => {
                    console.log(value.result[0].user_id);

                    this.first_name = value.result[0].first_name;
                    this.last_name = value.result[0].last_name;
                    this.email = value.result[0].email;
                    this.phone = value.result[0].phone;
                    if(value.result[0].bank_account){
                    this.bank_id = value.result[0].bank_account.bank_id;
                    this.account_number = value.result[0].bank_account.account_number;
                    this.account_name = value.result[0].bank_account.account_name;
                    }

                    if(value.result[0].driver){
                    this.vehicle_id = value.result[0].driver.vehicle_id;
                    this.plate_number = value.result[0].driver.plate_number;
                    }
                    this.user_id = value.result[0].user_id;
                });
            },
            
          submitDriver() {
             this.loadingBtn=true;
            var formData= {
               first_name: this.first_name,
               last_name: this.last_name,
               email: this.email,
               phone: this.phone,
               bank_id: this.bank_id,
               password: this.password,
               account_number: this.account_number,
               account_name: this.account_name,
               vehicle_id: this.vehicle_id,
               plate_number: this.plate_number,
               user_id: this.user_id,
               language: this.language,
               created_by: 1,
             };
               console.log(formData);
   
              addDriver(formData).then(value => {
               if(value.code==200){
                  this.$store.dispatch("alerts/success",'Success updated driver profile');
                   this.$router.push({ path : '/admin/driver' });
               }else{
                  this.$store.dispatch("alerts/error",value.message);
               }
             this.loadingBtn=false;
           });
             console.log(formData);
          }
       },
     }
</script>