<template>
<v-app>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
           <div class="md-layout md-gutter">
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item">   
            <md-button class="md-raised md-success" md-direction="top-end" @click=" $router.push('/admin/driver/add');" >
              Add Guide
            </md-button>
          </div>
        </div>
        </md-card-header>
        <md-card-content>

         <v-card-title>
      List Guide
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
        <v-data-table
    :headers="headers"
    :items="tableData"
    :search="search"
    :items-per-page="10"
    class="elevation-1"
  >
    <template v-slot:item.user_id="{ item }">
                <md-button class="md-success" style="margin-right:6px"  @click=" $router.push('/admin/user/detail/' + item.user_id);" >Detail
                </md-button>
                <md-button class="md-warning"  @click=" $router.push('/admin/driver/edit/' + item.user_id);" >Edit
                </md-button>


    </template>
    
    </v-data-table>

        </md-card-content>
      </md-card>
    </div>
    
   
  </div>
</v-app>
</template>
<script>
import { getUser,getDriver } from "@/api/user";

export default {
  data() {
    return {
      selected: [],
      tableData: [],
      search : '',
      headers: [
         
          { text: 'Name', value: 'first_name' },
          { text: 'Phone', value: 'phone' },
          { text: 'Language', value: 'prefered_language' },
          { text: 'Latest Position', value: 'driver.last_location.street_name' },
          { text: 'Action', value: 'user_id' },
        ],
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getDriver({'access':'driver'}).then(value => {
          this.tableData = value.result;
        console.log(value.result);
        });
    },
    
    getClass: ({ id }) => ({
      "table-success": id === 1,
      "table-info": id === 3,
      "table-danger": id === 5,
      "table-warning": id === 7
    })
  }
};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}

.mt-0 {
  margin-top: 0 !important;
}
</style>
