<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">List Withdraw</h4>
        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="ID">{{ item.withdrawal_id }}</md-table-cell>
                <md-table-cell md-label="Full Name">
                  <a   @click=" $router.push('/admin/user/detail/' +  item.wallet.user.user_id);" style="cursor:pointer">{{ item.wallet.user.first_name+' '+item.wallet.user.last_name }}</a>
                </md-table-cell>
              <md-table-cell md-label="Withdraw Amount">{{ 'Rp '+numberWithCommas(item.amount) }}</md-table-cell>
              <md-table-cell md-label="Created At">{{ new Date(item.created_at).toLocaleString() }}</md-table-cell>
              <!-- <md-table-cell md-label="Note">{{ JSON.parse(item.additional_data).note }} </md-table-cell> -->
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
              <md-table-cell md-label="Action">
                <div class="places-buttons text-center">
                    <a   @click="detailData(item)" style="cursor:pointer" >Detail</a>
                </div>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
    

      <md-dialog :md-active.sync="showDialog">
         <md-dialog-title>Withdraw Detail</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;height:380px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-50">
                  <md-card-content>
                
                     <md-field>
                        <label>Email</label>
                        <md-input   v-if="detail"  v-model="detail.wallet.user.email" readonly></md-input>
                     </md-field>
                        <md-field>
                        <label>Name</label>
                        <md-input   v-if="detail"  v-model="detail.wallet.user.first_name" readonly></md-input>
                     </md-field>
                     <md-field>
                        <label>Withdraw Amount</label>
                        <md-input v-model="amount" readonly></md-input>
                     </md-field>


                         <md-field>
                        <label>Note</label>
                        <md-input v-if="detail.status=='pending'" v-model="note"></md-input>
                        <md-input v-if="detail.status!='pending'" v-model="note" readonly></md-input>
                     </md-field>

                  </md-card-content>
    
               </div>

               <div class="md-layout-item md-size-50">
                  <md-card-content>
                     <md-field>
                        <label>Bank Name</label>
                        <md-input  v-if="detail.bank_account" v-model="detail.bank_account.bank.name" readonly></md-input>
                     </md-field>
                     <md-field>
                        <label>Account Name</label>
                        <md-input  v-if="detail.bank_account" v-model="detail.bank_account.account_name" readonly></md-input>
                     </md-field>
                       <md-field>
                        <label>Account Number</label>
                        <md-input  v-if="detail.bank_account" v-model="detail.bank_account.account_number" readonly></md-input>
                     </md-field>
                  </md-card-content>
           
               </div>

               <div v-if="detail.status=='pending'">
               <div class="md-layout-item md-size-100">
                    <md-button class="md-raised md-danger" type="button"  @click="onConfirm('decline')" style="margin-top:20px"  :disabled="loadingBtn">
                        Decline
                    </md-button>
                    <md-button class="md-raised md-success" type="button"  @click="onConfirm('paid')" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm Paid
                    </md-button>
               </div>
               </div>


            </div>
         </md-dialog-actions>
      </md-dialog>
   
  </div>
</template>
<script>
import { getWithdraw,setStatusWithdraw } from "@/api/withdrawal";

export default {
  data() {
    return {
      selected: [],
      tableData: [],
      detail: '',
      amount : '',
      name:'',
      note:'',
      withdrawal_id: '',
      showDialog:false,
      loadingBtn :false
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getWithdraw().then(value => {
          this.tableData = value.result;
        });
    },
    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
     detailData(data){
         this.detail =data;
         this.amount = this.numberWithCommas(data.amount);
         this.additional_data =  JSON.parse(data.additional_data);
         this.note = this.additional_data.note;
        this.showDialog=true;
      },
    getColor(status){
        if(status=='pending'){
            var color ='orange';
        }else if(status=='paid'){
            var color ='green';
        }else if(status=='decline'){
            var color ='red';
        }else{
            var color ='';
        }
        return color;
    },

     onConfirm (status) {
         this.loadingBtn =true;
        setStatusWithdraw({'withdrawal_id':this.detail.withdrawal_id,'status': status,"note":this.note}).then(value => {
         this.loadingBtn =false;
          if(value.code==200){
           this.$store.dispatch("alerts/success",'This withdraw status has been updated');
            this.detail.account_status =value.result.account_status;
            console.log(value);
            this.showDialog=false;
            this.getData();
          }else{
           this.$store.dispatch("alerts/error",'Failed update status withdraw');
          }
  
        });
      },
       
       setStatus (status) {
        this.status =status;
        this.showDialog=true;
   
      }
   
  }
};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}

.mt-0 {
  margin-top: 0 !important;
}
</style>
