<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">List Mutation</h4>
            <div class="md-layout md-gutter">
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item"></div>
                <div class="md-layout-item">   
                 <strong>   Balance : Rp {{wallet.balance}} </strong>
                </div>
              </div>
        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="ID">{{ item.mutation_id }}</md-table-cell>
              <md-table-cell md-label="Type">{{ item.type }}</md-table-cell>
              <md-table-cell md-label="Amount In">{{ 'Rp '+item.amount_in }}</md-table-cell>
              <md-table-cell md-label="Amount Out">{{ 'Rp '+item.amount_out }}</md-table-cell>
              <md-table-cell md-label="Remark">{{ item.remark }}</md-table-cell>
              <md-table-cell md-label="Created At">{{ new Date(item.created_at).toLocaleString() }}</md-table-cell>
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
    

   
  </div>
</template>
<script>
import { getWithdraw,setStatusWithdraw } from "@/api/withdrawal";
 import { getUserLoggediIn,getUser} from "@/api/user";

export default {
  data() {
    return {
      selected: [],
      tableData: [],
      detail: '',
      amount : '',
      name:'',
      user_id: '',
      wallet: {},
      withdrawal_id: '',
      showDialog:false,
      loadingBtn :false
    };
  },
    mounted() {
         getUserLoggediIn().then(value => {
          this.user_id = value.result.user_id;
          this.getData();
          this.getDataUser();
      });
  },
  methods: {
    getData() {
      getMutation().then(value => {
          this.tableData = value.result;
        });
    },
    getDataUser() {
      getUser({'user_id':this.user_id}).then(value => {
          this.wallet = value.result[0].wallet;
        console.log('xxxxxxxx');
        console.log(value.result[0]);
        });
    },
     detailData(data){
         this.detail =data;
        console.log(data);

        this.showDialog=true;
      },
    getColor(status){
        if(status=='pending'){
            var color ='orange';
        }else if(status=='paid'){
            var color ='green';
        }else if(status=='decline'){
            var color ='red';
        }else{
            var color ='';
        }
        return color;
    },

     onConfirm (status) {
         this.loadingBtn =true;
        setStatusWithdraw({'withdrawal_id':this.detail.withdrawal_id,'status': status,"note":this.note}).then(value => {
         this.loadingBtn =false;
          if(value.code==200){
           this.$store.dispatch("alerts/success",'This withdraw status has been updated');
            this.detail.account_status =value.result.account_status;
            console.log(value);
            this.showDialog=false;
            this.getData();
          }else{
           this.$store.dispatch("alerts/error",'Failed update status withdraw');
          }
  
        });
      },
       setStatus (status) {
        this.status =status;
        this.showDialog=true;
   
      }
   
  }
};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}

.mt-0 {
  margin-top: 0 !important;
}
</style>
