<template>
     
    <div class="user-info">
      <li class>
      <a
        data-toggle="collapse"
        :aria-expanded="!isClosed"
        @click.stop="toggleMenu"
        @click.capture="clicked"
      >
        <span style="color:white">
          <i class="md-icon md-icon-font md-theme-default">emoji_transportation</i>  Rent Car
          <b class="caret"></b>
        </span>
      </a>

      <collapse-transition>
        <div v-show="!isClosed">
          <ul class="nav">
            <slot>
              <li>
                <a href="/vendor/booking/pending">
                  <span class="sidebar-mini"  style="color:white">PN</span>
                  <span class="sidebar-normal"  style="color:white">Pending</span>
                </a>
              </li>
              <li>
                <a  href="/vendor/booking/on-progress">
                  <span class="sidebar-mini"  style="color:white">OP</span>
                  <span class="sidebar-normal"  style="color:white">On Progress</span>
                </a>
              </li>

                 <li>
                <a  href="/vendor/booking/cancel">
                  <span class="sidebar-mini"  style="color:white">CC</span>
                  <span class="sidebar-normal"  style="color:white">Cancel</span>
                </a>
              </li>

                <li>
                <a  href="/vendor/booking/completed">
                <!-- <a @click="goToBooking('completed')"> -->
                  <span class="sidebar-mini"  style="color:white">CP</span>
                  <span class="sidebar-normal"  style="color:white">Completed</span>
                </a>
              </li>
            </slot>
          </ul>
        </div>
      </collapse-transition>
      </li>
      
    </div>
</template>
<script>
export default {

  data() {
    return {
      isClosed: true,
    };
  },

  methods: {
    clicked: function(e) {
      e.preventDefault();
    },
    toggleMenu: function() {
      this.isClosed = !this.isClosed;
    },
    goToBooking(status) {
      this.$router.push({path: "/vendor/booking/"+status})
    },
  }
}
</script>
<style>
.collapsed {
  transition: opacity 1s;
}
</style>
