<template>
     
    <div class="user-info">
      <li class>
      <a
        data-toggle="collapse"
        :aria-expanded="!isClosed"
        @click.stop="toggleMenu"
        @click.capture="clicked"
      >
        <span style="color:white">
          <i class="md-icon md-icon-font md-theme-default">settings</i>  Settings
          <b class="caret"></b>
        </span>
      </a>

      <collapse-transition>
        <div v-show="!isClosed">
          <ul class="nav">
            <slot>
              <li>
                <a @click="goToSelfDrive">
                  <span class="sidebar-mini"  style="color:white">SD</span>
                  <span class="sidebar-normal"  style="color:white">Self Drive Price</span>
                </a>
              </li>
              <li>
                <a @click="goToCarCharter">
                  <span class="sidebar-mini"  style="color:white">CC</span>
                  <span class="sidebar-normal"  style="color:white">Car Charter Price</span>
                </a>
              </li>
              <li>
                <a @click="goToCityTransfer" >
                  <span class="sidebar-mini"  style="color:white">CT</span>
                  <span class="sidebar-normal"  style="color:white">City Transfer Price</span>
                </a>
              </li>
              <li>
                <a @click="goToCarCharterRules">
                  <span class="sidebar-mini"  style="color:white">CR</span>
                  <span class="sidebar-normal"  style="color:white">Car Charter Rules</span>
                </a>
              </li>
              <li>
                <a @click="goToWelcomeMessage" >
                  <span class="sidebar-mini"  style="color:white">WM</span>
                  <span class="sidebar-normal"  style="color:white">Welcome Message</span>
                </a>
              </li>
              <li>
                <a @click="goToCoverageArea" >
                  <span class="sidebar-mini"  style="color:white">CA</span>
                  <span class="sidebar-normal"  style="color:white">Coverage Area</span>
                </a>
              </li>
              <li>
                <a @click="deliverySelfDrive" >
                  <span class="sidebar-mini"  style="color:white">DS</span>
                  <span class="sidebar-normal"  style="color:white">Delivery Self Drive</span>
                </a>
              </li>
              <li>
                <a @click="termConditionBooking" >
                  <span class="sidebar-mini"  style="color:white">TC</span>
                  <span class="sidebar-normal"  style="color:white">Terms Condition Booking</span>
                </a>
              </li>
              <li>
                <a @click="selfDriveTermCondition">
                  <span class="sidebar-mini"  style="color:white">ST</span>
                  <span class="sidebar-normal"  style="color:white">Self Drive Terms Condition</span>
                </a>
              </li>
            </slot>
          </ul>
        </div>
      </collapse-transition>
      </li>
      
    </div>
</template>
<script>
export default {

  data() {
    return {
      isClosed: true,
    };
  },

  methods: {
    clicked: function(e) {
      e.preventDefault();
    },
    toggleMenu: function() {
      this.isClosed = !this.isClosed;
    },
    goToSelfDrive() {
      this.$router.push({path: "/admin/settings/self_drive_price"})
    },
    goToCarCharter() {
      this.$router.push({path: "/admin/settings/car_charter_price"})
    },
    goToCarCharterRules() {
      this.$router.push({path: "/admin/settings/car_charter_rules"})
    },
    goToWelcomeMessage() {
      this.$router.push({path: "/admin/settings/welcomeMessage"})
    },
    goToCoverageArea() {
      this.$router.push({path: "/admin/settings/coverageArea"})
    },
    goToCityTransfer() {
      this.$router.push({path: "/admin/settings/city_transfer_price"})
    },
    deliverySelfDrive() {
      this.$router.push({path: "/admin/settings/delivery_self_drive"})
    },
    termConditionBooking() {
      this.$router.push({path: "/admin/settings/termConditionBooking"})
    },
    selfDriveTermCondition() {
      this.$router.push({path: "/admin/settings/selfDriveTermCondition"})
    }
  }
}
</script>
<style>
.collapsed {
  transition: opacity 1s;
}
</style>
