<template>
  <div
    class="wrapper"
    :class="[
      { 'nav-open': $sidebar.showSidebar },
      { rtl: $route.meta.rtlActive },
    ]"
  >
    <notifications></notifications>
    <side-bar
      :active-color="sidebarBackground"
      :background-image="sidebarBackgroundImage"
      :data-background-color="sidebarBackgroundColor"
    >
      <user-menu></user-menu>

      <mobile-menu></mobile-menu>

      <template slot="links" v-if="detail.access=='admin'">
        <sidebar-item
          :link="{
            name: 'Dashboard',
            icon: 'dashboard',
            path: '/dashboard',
          }"
          />
          <booking-menu></booking-menu>

          <sidebar-item
          :link="{
            name: 'Report Booking',
            icon: 'description',
            path: '/admin/report',
          }"
        />
           <sidebar-item
          :link="{
            name: 'Withdrawal',
            icon: 'paid',
            path: '/admin/withdrawal',
          }"
        />

        <sidebar-item
          :link="{
            name: 'Customer',
            icon: 'person',
            path: '/admin/users',
          }"
        />

        <sidebar-item
          :link="{
            name: 'Guides',
            icon: 'commute',
            path: '/admin/driver',
          }"
        />

         <sidebar-item
          :link="{
            name: 'Vendor',
            icon: 'commute',
            path: '/admin/vendor',
          }"
        />

        <sidebar-item
          :link="{
            name: 'Wisata',
            icon: 'tour',
            path: '/admin/attraction',
          }"
        />

        <sidebar-item
          :link="{
            name: 'News',
            icon: 'event',
            path: '/admin/news'
          }"
        />
     


      <sidebar-item
          :link="{
            name: 'Promotion',
            icon: 'local_offer',
            path: '/admin/promotion',
          }"
        />


       <sidebar-item
          :link="{
            name: 'Cars Type',
            icon: 'emoji_transportation',
            path: '/admin/cars_type',
          }"
        />

      <setting-menu></setting-menu>     
      </template>






      <template slot="links" v-if="detail.access=='vendor'">
        <sidebar-item
          :link="{
            name: 'Dashboard',
            icon: 'dashboard',
            path: '/vendor/dashboard',
          }"
          />

        <sidebar-item
          :link="{
            name: 'List Cars',
            icon: 'emoji_transportation',
            path: '/admin/cars',
          }"
        />

        <booking-menu-vendor></booking-menu-vendor>

          <sidebar-item
          :link="{
            name: 'Withdrawal',
            icon: 'paid',
            path: '/vendor/withdrawal',
          }"
        />


          <sidebar-item
          :link="{
            name: 'Mutation',
            icon: 'paid',
            path: '/vendor/mutation',
          }"
        />
      </template>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>

      <fixed-plugin
        :color.sync="sidebarBackground"
        :colorBg.sync="sidebarBackgroundColor"
        :sidebarMini.sync="sidebarMini"
        :sidebarImg.sync="sidebarImg"
        :image.sync="sidebarBackgroundImage"
      >
      </fixed-plugin>

      <div :class="{ content: !$route.meta.hideContent }">
        <zoom-center-transition :duration="200" mode="out-in">
          <!-- your content here -->
          <router-view />
        </zoom-center-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`);
    document.getElementsByClassName(className)[0].scrollTop = 0;
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className);
    }, 100);
  }
}

function reinitScrollbar() {
  let docClasses = document.body.classList;
  let isWindows = navigator.platform.startsWith("Win");
  if (isWindows) {
    // if we are on windows OS we activate the perfectScrollbar function
    initScrollbar("sidebar");
    initScrollbar("sidebar-wrapper");
    initScrollbar("main-panel");

    docClasses.add("perfect-scrollbar-on");
  } else {
    docClasses.add("perfect-scrollbar-off");
  }
}

import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import MobileMenu from "./Extra/MobileMenu.vue";
import FixedPlugin from "@/pages/FixedPlugin.vue";
import UserMenu from "./Extra/UserMenu.vue";
import SettingMenu from "./Extra/SettingMenu.vue";
import BookingMenu from "./Extra/BookingMenu.vue";
import BookingMenuVendor from "./Extra/BookingMenuVendor.vue";
 
 import { getUserLoggediIn} from "@/api/user";

export default {
  components: {
    TopNavbar,
    ContentFooter,
    FixedPlugin,
    MobileMenu,
    UserMenu,
    BookingMenu,
    BookingMenuVendor,
    SettingMenu,
  },
  data() {
    return {
      sidebarBackgroundColor: "black",
      sidebarBackground: "green",
      sidebarBackgroundImage:
      process.env.VUE_APP_BASE_URL + "/img/sidebar-2.jpg",
      sidebarMini: true,
      detail: true,
      sidebarImg: null,
      image: process.env.VUE_APP_BASE_URL + "/img/laravel-vue.svg",
    };
  },
  async created() {
     await    getUserLoggediIn().then(value => {
          console.log('valuevaluevaluevaluevalue');
          console.log(value);
          this.detail = value.result;
      });
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    minimizeSidebar() {
      if (this.$sidebar) {
        this.$sidebar.toggleMinimize();
      }
    },
  },
  updated() {
    reinitScrollbar();
  },
  mounted() {
    reinitScrollbar();
  },
  watch: {
    sidebarMini() {
      this.minimizeSidebar();
    },
  },
};
</script>
<style lang="scss">
$scaleSize: 0.95;
@keyframes zoomIn95 {
  from {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
  to {
    opacity: 1;
  }
}
.main-panel .zoomIn {
  animation-name: zoomIn95;
}
@keyframes zoomOut95 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
}
.main-panel .zoomOut {
  animation-name: zoomOut95;
}
</style>
