<template>
  <md-toolbar
    md-elevation="0"
    class="md-transparent"
    :class="{
      'md-toolbar-absolute md-white md-fixed-top': $route.meta.navbarAbsolute,
    }"
  >
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
        <h3 class="md-title">{{ $route.name }}</h3>
      </div>
      <div class="md-toolbar-section-end">
        <md-button
          class="md-just-icon md-round md-simple md-toolbar-toggle"
          :class="{ toggled: $sidebar.showSidebar }"
          @click="toggleSidebar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </md-button>

     

        <div class="md-collapse">
          <md-list>
            <li class="md-list-item">
              <a
                class="md-list-item-router md-list-item-container md-button-clean dropdown"
              >
                <div class="md-list-item-content">
                  <drop-down direction="down">
                    <md-button
                      slot="title"
                      class="md-button md-just-icon md-simple"
                      data-toggle="dropdown">
                      <md-icon>notifications</md-icon>
                      <span class="notification">{{totalNotif}}</span>
                      <p class="hidden-lg hidden-md">Notifications</p>
                    </md-button>
                    <ul class="dropdown-menu dropdown-menu-right">
                       <li v-for="(item, index) in listNotif" :key="index"  :style="bgStyle(item.status)">
                          <a  @click="goToNotifications(item.id,JSON.parse(item.payload).redirect)" style="cursor:pointer">
                          {{item.message}} 
                          </a>
                      </li>
                    </ul>
                  </drop-down>
                </div>
              </a>
            </li>
          </md-list>
        </div>
      </div>
    </div>
  </md-toolbar>
</template>

<script>
import { getNotif,setStatus } from "@/api/notif";
 import { getUserLoggediIn} from "@/api/user";

export default {
  data() {
    return {
      selectedEmployee: "",
      listNotif: null,
      totalNotif: 0,
      detail: {},
      color: 'backgorund:"#000000"',

      employees: [
        "Jim Halpert",
        "Dwight Schrute",
        "Michael Scott",
        "Pam Beesly",
        "Angela Martin",
        "Kelly Kapoor",
        "Ryan Howard",
        "Kevin Malone",
      ],
      documentationLink:
        "https://vue-material-dashboard-laravel.creative-tim.com/documentation/",
      downloadUrl:
        "https://www.creative-tim.com/product/vue-material-dashboard-laravel",
    };
  },
  
   computed: {
 
  },
    async created() {
     await    getUserLoggediIn().then(value => {
          console.log('valuevaluevaluevaluevalue');
          console.log(value.result);
          this.detail = value.result;
      });
    this.interval = setInterval(() => this.created(), 5000);

  },

  methods: {
     async created() {
       console.log(this.detail.access);
       if(this.detail.access=='admin'){
         var user_id  =10;
       }else{
         var user_id  =this.detail.user_id;
       }
     await   getNotif({'user_id':user_id}).then(value => {
          this.listNotif = value.result.list;
          this.totalNotif = value.result.unread;
        console.log(value.result.list);
        });
  },
  
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    minimizeSidebar() {
      if (this.$sidebar) {
        this.$sidebar.toggleMinimize();
      }
    },
    goToNotifications(id,redirect) {
      var formData= {
          id: id,
          status: 'read'
        };
      setStatus(formData).then(value => {
        this.created();
        this.$router.push(redirect);
      });
    },
    goToUsers() {
      this.$router.push({ name: "User Profile" });
    },
     bgStyle(status) {
      if(status=='sent'){
        var color ='#d4d3d3';
      }else{
        var color ='#ffffff';
      }
      return {
        "background-color": color,
      };
    },
  },
};
</script>
