<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">List Attraction</h4>
        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="ID">{{ item.attraction_id }}</md-table-cell>
              <md-table-cell md-label="Destination Name">{{ item.attraction_name }}</md-table-cell>
              <md-table-cell md-label="Address">{{
                item.address
              }}</md-table-cell>
                <md-table-cell md-label="Action">
                <div class="places-buttons text-center">
                <a :href="'/admin/attractionDetail/' + item.attraction_id">Detail</a>
                </div>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
    
   
  </div>
</template>
<script>
import { getAttraction } from "@/api/attraction";

export default {
  data() {
    return {
      selected: [],
      tableData: []
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getAttraction().then(value => {
        this.tableData = value.result;
      });
    },
    
    getClass: ({ id }) => ({
      "table-success": id === 1,
      "table-info": id === 3,
      "table-danger": id === 5,
      "table-warning": id === 7
    })
  }
};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}

.mt-0 {
  margin-top: 0 !important;
}
</style>
