<template>
   <div id="map"></div>
</template>
<template>

   <div class="md-layout">
      <div class="md-layout-item md-size-100">
         <md-card class="md-card-example">
            <md-card-area md-inset>
               <md-card-media md-ratio="16:9">
                  <div id="map" style="overflow:initial"></div>
               </md-card-media>
               <md-card-header>
                  <h3 class="md-subheading">Pickup Location</h3>
                     <span>{{pickup_location.address}}</span>
                   <h3 class="md-subheading">Pickup Date</h3>
                     <span>{{detail.pickup_date+' '+detail.pickup_time}}</span>

                  <h3 class="md-subheading">Return Location</h3>
                     <span>{{pickup_location.address}}</span>
                  <h3 class="md-subheading">Return Date</h3>
                  <span>{{detail.pickup_date+' '+detail.pickup_time}}</span>


               </md-card-header>
            </md-card-area>
            <md-card-content>
            </md-card-content>
            <div class="md-layout">
               <div class="md-layout-item md-size-50">
                  <h3 class="md-subheading">Booking Detail</h3>
                  <div class="md-layout-item md-size-80" style="margin-left:-30px">
                     <md-list>
                        <md-list-item>ID <code>{{detail.booking_id}}</code></md-list-item>
                        <md-list-item>Name <code>{{user.first_name}} {{user.last_name}}</code></md-list-item>
                        <md-list-item>Email <code>{{user.email}}</code></md-list-item>
                        <md-list-item>Phone <code>{{user.phone}}</code></md-list-item>
                        <md-list-item>Car <code>{{detail.car.vehicle.name}}</code></md-list-item>
                        <md-list-item>Status <code>{{detail.status}}</code></md-list-item>
                        <md-list-item v-if="detail.status=='cancel' && JSON.parse(detail.additional_data).reason">Reason <code>{{JSON.parse(detail.additional_data).reason}}</code></md-list-item>
                     </md-list>
                  </div>
               </div>


               <div class="md-layout-item md-size-50">
                  <h3 class="md-subheading">Payment Information</h3>
                  <div class="md-layout-item md-size-80" style="margin-left:-30px">
                     <md-list>
                        <md-list-item>Rental Price <code>{{'Rp '+numberWithCommas(detail.car_price)}}</code></md-list-item>
                        <md-list-item>Duration <code>{{ detail.duration }}</code></md-list-item>
                        <md-list-item>Pickup Fee <code>{{'Rp '+numberWithCommas( JSON.parse(detail.additional_data).pickup_location.fee)}}</code></md-list-item>
                        <md-list-item>Return Fee <code>{{'Rp '+numberWithCommas(JSON.parse(detail.additional_data).return_location.fee)}}</code></md-list-item>
                        <md-list-item>Subtotal <code>{{'Rp '+numberWithCommas(detail.subtotal)}}</code></md-list-item>
                        <md-list-item>Platform Fee <code>{{'Rp '+numberWithCommas(detail.platform_fee)}}</code></md-list-item>
                        <md-list-item>Payment Status <code>{{detail.payment_status}}</code></md-list-item>
                        <md-list-item v-if="detail.payment_status=='refunded'">Refund By <code>{{JSON.parse(detail.additional_data).refunded_by.full_name}}</code></md-list-item>
                     </md-list>
                           <!-- <md-button v-if="detail.payment_status=='paid' && detail.status=='cancel'" class="md-info md-raised" style="margin-left:20px"   @click="showDialogRefund=true" >Refund</md-button> -->
                  </div>
               </div>
            </div>

            <div v-if="detail.status!='cancel'">
              <div class="md-layout-item md-size-50">
                  <div class="md-layout-item md-size-100">
                     <md-card>
                        <md-card-header>
                           <md-card-header-text>
                              <br>
                              <div class="md-title">{{detail.car.vehicle.name}} - {{detail.car.year}}</div>
                              <h3 class="md-subheading">{{detail.car.transmission}}</h3>
                              <div class="md-subhead">{{detail.car.plate_number}}</div>
                           </md-card-header-text>
                           <md-card-media>
                              <br>
                              <img :src="detail.car.image" alt="People">
                           </md-card-media>
                        </md-card-header>
                        <md-card-actions>
                                 <md-button class="md-info md-raised" v-if="detail.status=='pending' && detail.payment_status=='paid'"  @click="showDialogConfirm=true"   >Confirm</md-button>
                           <md-button class="md-danger md-raised" v-if="detail.status=='pending' && detail.payment_status=='paid'"  @click="showDialogDecline=true"   >Decline</md-button>
                        </md-card-actions>
                     </md-card>
                  </div>
               </div>
               </div>
         </md-card>
      </div>
      <div>
         <md-dialog :md-active.sync="showDialog">
            <md-dialog-title>Guide</md-dialog-title>
            <md-dialog-actions style="overflow: auto;padding-top:-10px;">
               <Driver :booking_id="detail.booking_id"   :vehicle_type_id="1"  v-on:childToParent="onChildClick"></Driver>
            </md-dialog-actions>
         </md-dialog>
      </div>

      <md-dialog :md-active.sync="showDialogDecline">
         <md-dialog-title>Decline Booking</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:200px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                    Are you sure want to decline this booking ?
                     <md-field>
                        <label>Note</label>
                        <md-input v-model="note"></md-input>
                     </md-field>
                      <md-button class="md-raised md-danger" type="button"  @click="showDialogDecline=false" style="margin-top:20px" >
                        Cancel
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="declineBooking()" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>


     <md-dialog :md-active.sync="showDialogConfirm">
         <md-dialog-title>Confirm Booking</md-dialog-title>
         <md-dialog-actions style="overflow: auto;padding-top:-10px;width:500px;height:200px;display:inline">
            <div class="md-layout">
               <div class="md-layout-item md-size-100">
                  <md-card-content>
                    Are you sure want to confirm this booking ?
                    <br><br>
                      <md-button class="md-raised md-danger" type="button"  @click="showDialogConfirm=false" style="margin-top:20px" >
                        Cancel
                     </md-button>
                     <md-button class="md-raised md-success" type="button"  @click="confirmedBooking()" style="margin-top:20px"  :disabled="loadingBtn">
                        Confirm
                     </md-button>
                  </md-card-content>
               </div>
       
            </div>
         </md-dialog-actions>
      </md-dialog>

   </div>

   

</template>
<script>
   import { getDetailBooking, declinedBooking,refundBooking,confirmFeeBooking,confirmBooking } from "@/api/booking";
   import { API_KEY } from "../../../map_api_key";
   import Driver from "./driver";
   import { Loader, LoaderOptions } from "google-maps";
   
   const loader = new Loader(API_KEY);
   /* eslint-disable vue/no-unused-components */
   export default {
     data() {
       return {
        name: 'DialogCustom',
         promotions: [],
         detail: '',
         pickup_location: '',
         note: '',
         user :'',
         driver_name: 'No Driver',
         additional_data : '',
         tableData: [],
         nav: null,
         active: false,
         value: null,
        showDialog: false,
        showDialogDecline: false,
        loadingBtn : false,
        showDialogFee: false,
        showDialogRefund: false,
        showDialogConfirm: false,
       };
     },
     mounted() {
            loader.load();
       
       this.getData();
      
     },
     created() {
   //  this.interval = setInterval(() => this.getData(), 5000);
      },
     components: {
       Driver
     },
       methods: {
       getData() {

         getDetailBooking({'booking_id':this.$route.params.id }).then(value => {
            console.log('ssss');
            console.log(value.result.fee_mutation);
             this.detail = value.result;
             this.user = value.result.user;
             this.pickup_location = JSON.parse(value.result.additional_data).pickup_location;
             if(value.result.type=='CITY TRANSFER'){
               this.destination = JSON.parse(value.result.additional_data).destination;
             }

           //   this.driver_name=detail.driver.user.first_name+' '+detail.driver.user.last_name ;
            this.additional_data = JSON.parse(value.result.additional_data);

            var lat = this.pickup_location.latitude;
            var long = this.pickup_location.longitude;
            this.loadMap(google,lat,long);
             
           });
           
       },
     
        onClickChild (value) {
         console.log(value) // someValue
       },
        showDetailModal: function (product) {
       	console.log('click product in child, how can i pass this product to productSelected data in parent?');
         console.log(product);
         this.$emit('clicked-show-detail', product);
       },
       numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
         confirmedBooking () {
            this.loadingBtn= true;
               var dataForm= {
                  booking_id: this.detail.booking_id,
               }
            confirmBooking(dataForm).then(value => {
               this.showDialogConfirm =false;
               this.loadingBtn= false;
               this.$store.dispatch("alerts/success",'This booking has been confirmed');
               this.getData();
            });
         },
        declineBooking () {
            this.loadingBtn= true;
               var dataForm= {
                  booking_id: this.detail.booking_id,
                  reason: this.note
               }
            declinedBooking(dataForm).then(value => {
               this.showDialogDecline =false;
            this.loadingBtn= false;
               this.$store.dispatch("alerts/success",'This booking has been declined');
               this.getData();
            });
         },
          refundBookingSubmit () {
            this.loadingBtn= true;
               var dataForm= {
                  booking_id: this.detail.booking_id,
               }
            refundBooking(dataForm).then(value => {
               this.showDialogRefund =false;
               this.loadingBtn= false;
               this.$store.dispatch("alerts/success",'This booking has been refunded');
               this.getData();
            });
         },
            confirmFee () {
            this.loadingBtn= true;
               var dataForm= {
                  booking_id: this.detail.booking_id,
                  status :'completed'
               }
            confirmFeeBooking(dataForm).then(value => {
               this.showDialogFee =false;
               this.loadingBtn= false;
               this.$store.dispatch("alerts/success",'This fee has been sent to driver');
               this.getData();
            });
         },
         onCancel () {
           this.value = 'Disagreed'
         },
          onChildClick (value) {
            console.log('value');
            console.log(value.result.user_id);
            this.showDialog=false;
            this.getData();
         },
          loadMap(google,lat,long) {
               // alert('lat');
               // Regular Map
               // var lat = '-6.9181261';
               // var long = '108.89114080000002';

               // console.log(google);

               const myLatlng = new google.maps.LatLng(lat, long);
               const mapOptions = {
               zoom: 16,
               center: myLatlng,
               scrollwheel: false, // we disable de scroll over the map, it is a really annoing when you scroll through page
               disableDefaultUI: true, // a way to quickly hide all controls
               zoomControl: true,
               styles: [
                  {
                     featureType: "water",
                     stylers: [
                     { saturation: 43 },
                     { lightness: -11 },
                     { hue: "#0088ff" }
                     ]
                  },
                  {
                     featureType: "road",
                     elementType: "geometry.fill",
                     stylers: [
                     { hue: "#ff0000" },
                     { saturation: -100 },
                     { lightness: 99 }
                     ]
                  },
                  {
                     featureType: "road",
                     elementType: "geometry.stroke",
                     stylers: [{ color: "#808080" }, { lightness: 54 }]
                  },
                  {
                     featureType: "landscape.man_made",
                     elementType: "geometry.fill",
                     stylers: [{ color: "#ece2d9" }]
                  },
                  {
                     featureType: "poi.park",
                     elementType: "geometry.fill",
                     stylers: [{ color: "#ccdca1" }]
                  },
                  {
                     featureType: "road",
                     elementType: "labels.text.fill",
                     stylers: [{ color: "#767676" }]
                  },
                  {
                     featureType: "road",
                     elementType: "labels.text.stroke",
                     stylers: [{ color: "#ffffff" }]
                  },
                  { featureType: "poi", stylers: [{ visibility: "off" }] },
                  {
                     featureType: "landscape.natural",
                     elementType: "geometry.fill",
                     stylers: [{ visibility: "on" }, { color: "#b8cb93" }]
                  },
                  { featureType: "poi.park", stylers: [{ visibility: "on" }] },
                  {
                     featureType: "poi.sports_complex",
                     stylers: [{ visibility: "on" }]
                  },
                  { featureType: "poi.medical", stylers: [{ visibility: "on" }] },
                  {
                     featureType: "poi.business",
                     stylers: [{ visibility: "simplified" }]
                  }
               ]
               };
         
               const map = new google.maps.Map(
               document.getElementById("map"),
               mapOptions
               );
         
               const marker = new google.maps.Marker({
               position: myLatlng,
               title: "Regular Map!"
               });
         
               marker.setMap(map);
            },
     }
   };
</script>
<style>
   #map {
   height: calc(0vh - 70px);
   margin-top: 70px;
   position :initial  !important
   }
</style>
<style lang="scss" scoped>
   .md-dialog .md-dialog-container {
   max-width: 768px;
   }
</style>