<template>
   <div class="md-layout">
      <div class="md-layout-item md-size-100">
         <md-card>
            <md-card-header class="md-card-header-icon md-card-header-green">
               <div class="card-icon">
                  <md-icon>assignment</md-icon>
               </div>
               <h4 class="title">Add News</h4>
            </md-card-header>
            <md-card-content>
               <md-field>
                  <label>Title</label>
                  <md-input v-model="title"></md-input>
               </md-field>
               <md-field>
                  <label>Descirption</label>
                  <md-textarea v-model="description"></md-textarea>
               </md-field>
               <md-field md-inline>
                  <label for="movie">Status</label>
                  <md-select v-model="status" name="movie" id="movie">
                     <md-option value="active">Publish</md-option>
                     <md-option value="inactive">Unpublish</md-option>
                  </md-select>
               </md-field>
               <md-field>
                  <label>image</label>
                  <md-file v-model="image" name="image"  @md-change="onFileUpload($event)" accept="image/*" />
               </md-field>
               <md-button class="md-raised md-success" type="submit"  @click="submitNews()" style="margin-top:20px" :disabled="loadingBtn">
                  Submit
               </md-button>
            </md-card-content>
         </md-card>
      </div>
   </div>
</template>
<script>
   import { addNews,getNews } from "@/api/news";
     export default {
         data() {
         return {
            title: null,
            status: null,
            description: null,
            image: null,
            disabled: null,
            file: null,
            detail : [],
            loadingBtn: false
         };
      },
         mounted() {
            if(this.$route.params.id){
            this.getData();
            }
         },
         methods: {
            onFileUpload (evt) {
            this.file = evt[0];
            const file = this.file;
            const reader = new FileReader();
            let rawImg;
            reader.onloadend = () => {
               rawImg = reader.result;
               // console.log(rawImg);
            this.file=rawImg;
            }
            reader.readAsDataURL(file);
            console.log(rawImg)
            },
          submitNews() {
             this.loadingBtn = true;
            var formData= {
               title: this.title,
               status: this.status,
               description: this.description,
               image: this.file,
               user_id: 1,
               news_id: this.$route.params.id,
             };
              addNews(formData).then(value => {
               this.loadingBtn = false;
               if(value.code==200){
                  this.$store.dispatch("alerts/success",'News has been updated');
                  this.$router.push({ path : '/admin/news' });
               }else{
                  this.$store.dispatch("alerts/error",'Failed updated news');
               }
               });
          },
        getData() {
            getNews({'news_id':this.$route.params.id}).then(value => {
               this.title = value.result.title;
               this.description = value.result.description;
               this.status = value.result.status;
               this.image = value.result.image;
            });
         },
       },
     }
</script>