<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">List News</h4>

        <div class="md-layout md-gutter">
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item"></div>
          <div class="md-layout-item">   
            <md-button class="md-raised md-success" md-direction="top-end" @click=" $router.push('/admin/news/add');" >
              Add News
            </md-button>
          </div>
        </div>

        </md-card-header>
        <md-card-content>
          <md-table v-model="tableData" table-header-color="green">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="ID">{{ item.news_id }}</md-table-cell>
              <md-table-cell md-label="Title">{{ item.title }}</md-table-cell>
              <md-table-cell md-label="Description">{{ item.description.substr(0, 50) }}</md-table-cell>
              <md-table-cell md-label="Status">{{ item.status }}</md-table-cell>
              <md-table-cell md-label="Created At">{{ new Date(item.created_at).toLocaleString() }}</md-table-cell>
              <md-table-cell md-label="Action">
                <div class="places-buttons text-center">
                    <a @click=" $router.push('/admin/news/edit/'+item.news_id);" style="cursor:pointer" >Edit</a>
                </div>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>


<style lang="scss" scoped>

  .md-layout-item {
    height: 40px;

    &:after {
      width: 100%;
      height: 100%;
      display: block;
      background: md-get-palette-color(red, 200);
      content: " ";
    }
  }
</style>
Code copied!

<script>
import { getNews } from "@/api/news";

export default {
  data() {
    return {
      selected: [],
      tableData: []
    };
  },
    mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getNews({'status':'all'}).then(value => {
          this.tableData = value.result;
        console.log(value.result);
        });
    },
    
    getClass: ({ id }) => ({
      "table-success": id === 1,
      "table-info": id === 3,
      "table-danger": id === 5,
      "table-warning": id === 7
    })
  }
};
</script>
<style scoped>
.table-transparent {
  background-color: transparent !important;
}

.mt-0 {
  margin-top: 0 !important;
}
</style>
